@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Особистий кабінет адміністратора</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/Content/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/data/styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/files/особистий_кабінет_адміністратора/styles.css" type="text/css" rel="stylesheet" />
    <script src="~/Content/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.js"></script>
    <script src="~/Content/resources/scripts/axure/globals.js"></script>
    <script src="~/Content/resources/scripts/axutils.js"></script>
    <script src="~/Content/resources/scripts/axure/annotation.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.std.js"></script>
    <script src="~/Content/resources/scripts/axure/doc.js"></script>
    <script src="~/Content/resources/scripts/messagecenter.js"></script>
    <script src="~/Content/resources/scripts/axure/events.js"></script>
    <script src="~/Content/resources/scripts/axure/recording.js"></script>
    <script src="~/Content/resources/scripts/axure/action.js"></script>
    <script src="~/Content/resources/scripts/axure/expr.js"></script>
    <script src="~/Content/resources/scripts/axure/geometry.js"></script>
    <script src="~/Content/resources/scripts/axure/flyout.js"></script>
    <script src="~/Content/resources/scripts/axure/model.js"></script>
    <script src="~/Content/resources/scripts/axure/repeater.js"></script>
    <script src="~/Content/resources/scripts/axure/sto.js"></script>
    <script src="~/Content/resources/scripts/axure/utils.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/variables.js"></script>
    <script src="~/Content/resources/scripts/axure/drag.js"></script>
    <script src="~/Content/resources/scripts/axure/move.js"></script>
    <script src="~/Content/resources/scripts/axure/visibility.js"></script>
    <script src="~/Content/resources/scripts/axure/style.js"></script>
    <script src="~/Content/resources/scripts/axure/adaptive.js"></script>
    <script src="~/Content/resources/scripts/axure/tree.js"></script>
    <script src="~/Content/resources/scripts/axure/init.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/legacy.js"></script>
    <script src="~/Content/resources/scripts/axure/viewer.js"></script>
    <script src="~/Content/resources/scripts/axure/math.js"></script>
    <script src="~/Content/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="~/Content/data/document.js"></script>
    <script src="~/Content/files/особистий_кабінет_адміністратора/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return '~/Content/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return '~/Content/resources/Other.html'; };
        $axure.utils.getReloadPath = function () { return '~/Content/resources/reload.html'; };
    </script>
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u255" class="ax_default box_1">
            <div id="u255_div" class=""></div>
            <div id="u255_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u256" class="ax_default box_1">
            <div id="u256_div" class=""></div>
            <div id="u256_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u257" class="ax_default box_1">
            <div id="u257_div" class=""></div>
            <div id="u257_text" class="text ">
                <p><span>Кабінет адміністратора</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u258" class="ax_default label">
            <div id="u258_div" class=""></div>
            <div id="u258_text" class="text ">
                <p><span>Новини</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u259" class="ax_default label">
            <div id="u259_div" class=""></div>
            <div id="u259_text" class="text ">
                <p style="font-size:26px;text-align:center;"><span>02.05.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна<p style="font-size:24px;text-align:left;">деяких функцій на </p><p style="font-size:24px;text-align:left;">сторінці пацієнта.</p></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u260" class="ax_default label">
            <div id="u260_div" class=""></div>
            <div id="u260_text" class="text ">
                <p style="font-size:26px;text-align:center;"><span>14.04.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна<p style="font-size:24px;text-align:left;">деяких функцій на </p><p style="font-size:24px;text-align:left;">сторінці пацієнта.</p></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u261" class="ax_default label">
            <div id="u261_div" class=""></div>
            <div id="u261_text" class="text ">
                <p style="font-size:26px;text-align:center;"><span>29.03.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна<p style="font-size:24px;text-align:left;">деяких функцій на </p><p style="font-size:24px;text-align:left;">сторінці пацієнта.</p></span></p>
            </div>
        </div>

        <!-- Tab Label 1 (Rectangle) -->
        <div id="u262" class="ax_default box_3 selected" data-label="Tab Label 1" selectiongroup="Tabs">
            <div id="u262_div" class="selected"></div>
            <div id="u262_text" class="text ">
                <p><span>Додавання</span></p><p><span>лікаря</span></p>
            </div>
        </div>

        <!-- Unnamed (Dynamic Panel) -->
        <div id="u263" class="ax_default">
            <div id="u263_state0" class="panel_state" data-label="State1" style="">
                <div id="u263_state0_content" class="panel_state_content">

                    <!-- Panel 2 Content (Rectangle) -->
                    <div id="u264" class="ax_default shape" data-label="Panel 2 Content">
                        <div id="u264_div" class=""></div>
                        <div id="u264_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                    <form method="post" action="/Home/DeleteDoctor">
                        <!-- Unnamed (Rectangle) -->
                        <div id="u265" class="ax_default button">
                            <div id="u265_div" class=""></div>
                            <div id="u265_text" class="text ">
                                <p><input type="submit" value="Видалити лікаря" /></p>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u266" class="ax_default label">
                            <div id="u266_div" class=""></div>
                            <div id="u266_text" class="text ">
                                <p><span>Вибраний лікар:</span></p>
                            </div>
                        </div>

                        <!-- st (Text Field) -->
                        <div id="u267" class="ax_default text_field" data-label="st">
                            <div id="u267_div" class=""></div>
                            <input id="u267_input" type="text" name="Login" class="u267_input" />
                        </div>
                    </form>
                        <!-- Search (Repeater) -->
                        
                </div>
            </div>
        </div>

        <!-- Ready (Dynamic Panel) -->
        <div id="u270" class="ax_default ax_default_hidden" data-label="Ready" style="display:none; visibility: hidden">
            <div id="u270_state0" class="panel_state" data-label="State1" style="">
                <div id="u270_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u271" class="ax_default">
                        <div id="u271_state0" class="panel_state" data-label="State1" style="">
                            <div id="u271_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u272" class="ax_default">
                        <div id="u272_state0" class="panel_state" data-label="State1" style="">
                            <div id="u272_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u273" class="ax_default label">
                                    <div id="u273_div" class=""></div>
                                    <div id="u273_text" class="text ">
                                        <p><span>Ви впевнені, що хочете додати цього лікаря?</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u274" class="ax_default button">
                        <div id="u274_div" class=""></div>
                        <div id="u274_text" class="text ">
                            <p><span>Ні</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u275" class="ax_default button">
                        <div id="u275_div" class=""></div>
                        <div id="u275_text" class="text ">
                            <p><span>Так</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message (Dynamic Panel) -->
        <div id="u276" class="ax_default ax_default_hidden" data-label="Message" style="display:none; visibility: hidden">
            <div id="u276_state0" class="panel_state" data-label="State1" style="">
                <div id="u276_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u277" class="ax_default">
                        <div id="u277_state0" class="panel_state" data-label="State1" style="">
                            <div id="u277_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u278" class="ax_default">
                        <div id="u278_state0" class="panel_state" data-label="State1" style="">
                            <div id="u278_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u279" class="ax_default label">
                                    <div id="u279_div" class=""></div>
                                    <div id="u279_text" class="text ">
                                        <p><span>Заповніть всі поля!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message2 (Dynamic Panel) -->
        <div id="u280" class="ax_default ax_default_hidden" data-label="Message2" style="display:none; visibility: hidden">
            <div id="u280_state0" class="panel_state" data-label="State1" style="">
                <div id="u280_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u281" class="ax_default">
                        <div id="u281_state0" class="panel_state" data-label="State1" style="">
                            <div id="u281_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u282" class="ax_default">
                        <div id="u282_state0" class="panel_state" data-label="State1" style="">
                            <div id="u282_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u283" class="ax_default label">
                                    <div id="u283_div" class=""></div>
                                    <div id="u283_text" class="text ">
                                        <p><span>Ви успішно добавили нового лікаря!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message3 (Dynamic Panel) -->
        <div id="u284" class="ax_default ax_default_hidden" data-label="Message3" style="display:none; visibility: hidden">
            <div id="u284_state0" class="panel_state" data-label="State1" style="">
                <div id="u284_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u285" class="ax_default">
                        <div id="u285_state0" class="panel_state" data-label="State1" style="">
                            <div id="u285_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u286" class="ax_default">
                        <div id="u286_state0" class="panel_state" data-label="State1" style="">
                            <div id="u286_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u287" class="ax_default label">
                                    <div id="u287_div" class=""></div>
                                    <div id="u287_text" class="text ">
                                        <p><span>Ви успішно добавили новий препарат!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ready2 (Dynamic Panel) -->
        <div id="u288" class="ax_default ax_default_hidden" data-label="Ready2" style="display:none; visibility: hidden">
            <div id="u288_state0" class="panel_state" data-label="State1" style="">
                <div id="u288_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u289" class="ax_default">
                        <div id="u289_state0" class="panel_state" data-label="State1" style="">
                            <div id="u289_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u290" class="ax_default">
                        <div id="u290_state0" class="panel_state" data-label="State1" style="">
                            <div id="u290_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u291" class="ax_default label">
                                    <div id="u291_div" class=""></div>
                                    <div id="u291_text" class="text ">
                                        <p><span>Ви впевнені, що хочете додати цей препарат?</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u292" class="ax_default button">
                        <div id="u292_div" class=""></div>
                        <div id="u292_text" class="text ">
                            <p><span>Ні</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u293" class="ax_default button">
                        <div id="u293_div" class=""></div>
                        <div id="u293_text" class="text ">
                            <p><span>Так</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ready3 (Dynamic Panel) -->
        <div id="u294" class="ax_default ax_default_hidden" data-label="Ready3" style="display:none; visibility: hidden">
            <div id="u294_state0" class="panel_state" data-label="State1" style="">
                <div id="u294_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u295" class="ax_default">
                        <div id="u295_state0" class="panel_state" data-label="State1" style="">
                            <div id="u295_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u296" class="ax_default">
                        <div id="u296_state0" class="panel_state" data-label="State1" style="">
                            <div id="u296_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u297" class="ax_default label">
                                    <div id="u297_div" class=""></div>
                                    <div id="u297_text" class="text ">
                                        <p><span>Ви впевнені, що хочете видалити цього лікаря?</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u298" class="ax_default button">
                        <div id="u298_div" class=""></div>
                        <div id="u298_text" class="text ">
                            <p><span>Ні</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u299" class="ax_default button">
                        <div id="u299_div" class=""></div>
                        <div id="u299_text" class="text ">
                            <p><span>Так</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message4 (Dynamic Panel) -->
        <div id="u300" class="ax_default ax_default_hidden" data-label="Message4" style="display:none; visibility: hidden">
            <div id="u300_state0" class="panel_state" data-label="State1" style="">
                <div id="u300_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u301" class="ax_default">
                        <div id="u301_state0" class="panel_state" data-label="State1" style="">
                            <div id="u301_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u302" class="ax_default">
                        <div id="u302_state0" class="panel_state" data-label="State1" style="">
                            <div id="u302_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u303" class="ax_default label">
                                    <div id="u303_div" class=""></div>
                                    <div id="u303_text" class="text ">
                                        <p><span>Спочатку виберіть лікаря, щоб його видалити!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message5 (Dynamic Panel) -->
        <div id="u304" class="ax_default ax_default_hidden" data-label="Message5" style="display:none; visibility: hidden">
            <div id="u304_state0" class="panel_state" data-label="State1" style="">
                <div id="u304_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u305" class="ax_default">
                        <div id="u305_state0" class="panel_state" data-label="State1" style="">
                            <div id="u305_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u306" class="ax_default">
                        <div id="u306_state0" class="panel_state" data-label="State1" style="">
                            <div id="u306_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u307" class="ax_default label">
                                    <div id="u307_div" class=""></div>
                                    <div id="u307_text" class="text ">
                                        <p><span>Ви успішно видалили лікаря!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ready4 (Dynamic Panel) -->
        <div id="u308" class="ax_default ax_default_hidden" data-label="Ready4" style="display:none; visibility: hidden">
            <div id="u308_state0" class="panel_state" data-label="State1" style="">
                <div id="u308_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u309" class="ax_default">
                        <div id="u309_state0" class="panel_state" data-label="State1" style="">
                            <div id="u309_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u310" class="ax_default">
                        <div id="u310_state0" class="panel_state" data-label="State1" style="">
                            <div id="u310_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u311" class="ax_default label">
                                    <div id="u311_div" class=""></div>
                                    <div id="u311_text" class="text ">
                                        <p><span>Ви впевнені, що хочете видалити цей препарат?</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u312" class="ax_default button">
                        <div id="u312_div" class=""></div>
                        <div id="u312_text" class="text ">
                            <p><span>Ні</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u313" class="ax_default button">
                        <div id="u313_div" class=""></div>
                        <div id="u313_text" class="text ">
                            <p><span>Так</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message6 (Dynamic Panel) -->
        <div id="u314" class="ax_default ax_default_hidden" data-label="Message6" style="display:none; visibility: hidden">
            <div id="u314_state0" class="panel_state" data-label="State1" style="">
                <div id="u314_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u315" class="ax_default">
                        <div id="u315_state0" class="panel_state" data-label="State1" style="">
                            <div id="u315_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u316" class="ax_default">
                        <div id="u316_state0" class="panel_state" data-label="State1" style="">
                            <div id="u316_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u317" class="ax_default label">
                                    <div id="u317_div" class=""></div>
                                    <div id="u317_text" class="text ">
                                        <p><span>Спочатку виберіть препарат, щоб його видалити!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message7 (Dynamic Panel) -->
        <div id="u318" class="ax_default ax_default_hidden" data-label="Message7" style="display:none; visibility: hidden">
            <div id="u318_state0" class="panel_state" data-label="State1" style="">
                <div id="u318_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u319" class="ax_default">
                        <div id="u319_state0" class="panel_state" data-label="State1" style="">
                            <div id="u319_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u320" class="ax_default">
                        <div id="u320_state0" class="panel_state" data-label="State1" style="">
                            <div id="u320_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u321" class="ax_default label">
                                    <div id="u321_div" class=""></div>
                                    <div id="u321_text" class="text ">
                                        <p><span>Ви успішно видалили препарат!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u33" class="ax_default icon">
            <img id="u33_img" class="img " src="~/Content/images/вхід/u32.svg" />
            <div id="u33_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
        <div id="u25" style="display:none; visibility:hidden;"></div>
    </div>
    <script src="~/Content/resources/scripts/axure/ios.js"></script>
    <div id="u26" class="ax_default">
        <div id="u26_state0" class="panel_state" data-label="State1" style="">
            <div id="u26_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u27" class="ax_default heading_1">
                    <div id="u27_div" class=""></div>
                    <div id="u27_text" class="text ">
                        <p><span>©2020 Всі права захищені</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u28" class="ax_default heading_1">
                    <div id="u28_div" class=""></div>
                    <div id="u28_text" class="text ">
                        <p><span>Контакти</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u29" class="ax_default heading_1">
                    <div id="u29_div" class=""></div>
                    <div id="u29_text" class="text ">
                        <p><span>Мобільний телефон: 095 000 61 83</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u30" class="ax_default heading_1">
                    <div id="u30_div" class=""></div>
                    <div id="u30_text" class="text ">
                        <p><span>Електронна почта: likar.servis@gmail.com</span></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u31" class="ax_default icon">
                    <img id="u31_img" class="img " src="~/Content/images/вхід/u31.svg" />
                    <div id="u31_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u32" class="ax_default icon">
                    <img id="u32_img" class="img " src="~/Content/images/вхід/u32.svg" />
                    <div id="u32_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u322" style="display:none; visibility:hidden;"></div>

    <!-- Tab Label 2 (Rectangle) -->
    <div id="u331" class="ax_default box_3" data-label="Tab Label 2" selectiongroup="Tabs">
        <div id="u331_div" class=""></div>
        <div id="u331_text" class="text ">
            <p><span>Видалення</span></p><p><span>лікаря</span></p>
        </div>
    </div>

    <!-- Tab Label 3 (Rectangle) -->
    <div id="u332" class="ax_default box_3" data-label="Tab Label 3" selectiongroup="Tabs">
        <div id="u332_div" class=""></div>
        <div id="u332_text" class="text ">
            <p><span>Додавання</span></p><p><span>медикаментів</span></p>
        </div>
    </div>

    <!-- Tab Label 4 (Rectangle) -->
    <div id="u333" class="ax_default box_3" data-label="Tab Label 4" selectiongroup="Tabs">
        <div id="u333_div" class=""></div>
        <div id="u333_text" class="text ">
            <p><span>Видалення</span></p><p><span>медикаментів</span></p>
        </div>
    </div>

    <!-- Unnamed (Dynamic Panel) -->
    <div id="u334" class="ax_default">
        <div id="u334_state0" class="panel_state" data-label="State1" style="">
            <div id="u334_state0_content" class="panel_state_content">
                <form method="post" action="/Home/AddPreparation">
                    <!-- Panel 3 Content (Rectangle) -->
                    <div id="u335" class="ax_default shape" data-label="Panel 3 Content">
                        <div id="u335_div" class=""></div>
                        <div id="u335_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- name2 (Text Field) -->
                    <div id="u336" class="ax_default text_field" data-label="name2">
                        <div id="u336_div" class=""></div>
                        <input id="u336_input" type="text" name="N1" class="u336_input" />
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u337" class="ax_default label">
                        <div id="u337_div" class=""></div>
                        <div id="u337_text" class="text ">
                            <p><span>Назва:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Text Area) -->
                    <div id="u338" class="ax_default text_area">
                        <div id="u338_div" class=""></div>
                        <textarea id="u338_input" name="N2" class="u338_input"></textarea>
                    </div>

                    <!-- Unnamed (Text Area) -->
                    <div id="u339" class="ax_default text_area">
                        <div id="u339_div" class=""></div>
                        <textarea id="u339_input" name="N3" class="u339_input"></textarea>
                    </div>

                    <!-- Unnamed (Text Area) -->
                    <div id="u340" class="ax_default text_area">
                        <div id="u340_div" class=""></div>
                        <textarea id="u340_input" name="N5" class="u340_input"></textarea>
                    </div>

                    <!-- Unnamed (Text Area) -->
                    <div id="u341" class="ax_default text_area">
                        <div id="u341_div" class=""></div>
                        <textarea id="u341_input" name="N4" class="u341_input"></textarea>
                    </div>

                    <!-- Unnamed (Text Area) -->
                    <div id="u342" class="ax_default text_area">
                        <div id="u342_div" class=""></div>
                        <textarea id="u342_input" name="N6" class="u342_input"></textarea>
                    </div>

                    <!-- Unnamed (Text Area) -->
                    <div id="u343" class="ax_default text_area">
                        <div id="u343_div" class=""></div>
                        <textarea id="u343_input" name="N7" class="u343_input"></textarea>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u344" class="ax_default label">
                        <div id="u344_div" class=""></div>
                        <div id="u344_text" class="text ">
                            <p><span>Склад:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u345" class="ax_default label">
                        <div id="u345_div" class=""></div>
                        <div id="u345_text" class="text ">
                            <p><span>Спосіб</span></p><p><span>застосування:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u346" class="ax_default label">
                        <div id="u346_div" class=""></div>
                        <div id="u346_text" class="text ">
                            <p><span>Особливості</span></p><p><span>застосування:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u347" class="ax_default label">
                        <div id="u347_div" class=""></div>
                        <div id="u347_text" class="text ">
                            <p><span>Протипо-</span></p><p><span>казання:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u348" class="ax_default label">
                        <div id="u348_div" class=""></div>
                        <div id="u348_text" class="text ">
                            <p><span>Взаємодія</span></p><p><span>з іншими</span></p><p><span>засобами:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u349" class="ax_default label">
                        <div id="u349_div" class=""></div>
                        <div id="u349_text" class="text ">
                            <p><span>Термін та</span></p><p><span>умови</span></p><p><span>зберігання:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u350" class="ax_default button">
                        <div id="u350_div" class=""></div>
                        <div id="u350_text" class="text ">
                            <p><input type="submit" value="Додати ліки" /></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Unnamed (Dynamic Panel) -->
    <div id="u351" class="ax_default">
        <div id="u351_state0" class="panel_state" data-label="State1" style="">
            <div id="u351_state0_content" class="panel_state_content">

                <!-- Panel 4 Content (Rectangle) -->
                <div id="u352" class="ax_default shape" data-label="Panel 4 Content">
                    <div id="u352_div" class=""></div>
                    <div id="u352_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <form method="post" action="/Home/DeletePreparation">
                    <!-- Unnamed (Rectangle) -->
                    <div id="u353" class="ax_default button">
                        <div id="u353_div" class=""></div>
                        <div id="u353_text" class="text ">
                            <p><input type="submit" value="Видалити препарат" /></p>
                        </div>
                    </div>

                    <!-- st2 (Text Field) -->
                    <div id="u354" class="ax_default text_field" data-label="st2">
                        <div id="u354_div" class=""></div>
                        <input id="u354_input" type="text" name="Name" class="u354_input" />
                    </div>
                </form>
                    <!-- Search (Repeater) -->
                    
            </div>
        </div>
    </div>

    <!-- Unnamed (Dynamic Panel) -->
    <div id="u357" class="ax_default">
        <div id="u357_state0" class="panel_state" data-label="State1" style="">
            <div id="u357_state0_content" class="panel_state_content">
                <form method="post" action="/Home/AddDoctor">
                    <!-- Panel 1 Content (Rectangle) -->

                    <!-- name (Text Field) -->

                    <div id="u359" class="ax_default text_field" data-label="name">
                        <div id="u359_div" class=""></div>
                        <input id="u359_input" type="text" name="N" class="u359_input" />
                    </div>

                    <!-- surname (Text Field) -->
                    <div id="u360" class="ax_default text_field" data-label="surname">
                        <div id="u360_div" class=""></div>
                        <input id="u360_input" type="text" name="S" class="u360_input" />
                    </div>

                    <!-- patronymic (Text Field) -->
                    <div id="u361" class="ax_default text_field" data-label="patronymic">
                        <div id="u361_div" class=""></div>
                        <input id="u361_input" type="text" name="P" class="u361_input" />
                    </div>

                    <!-- number_pasport (Text Field) -->
                    <div id="u362" class="ax_default text_field" data-label="number_pasport">
                        <div id="u362_div" class=""></div>
                        <input id="u362_input" type="number" name="Number" class="u362_input" />
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u363" class="ax_default label">
                        <div id="u363_div" class=""></div>
                        <div id="u363_text" class="text ">
                            <p><span>Ім'я:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u364" class="ax_default label">
                        <div id="u364_div" class=""></div>
                        <div id="u364_text" class="text ">
                            <p><span>Прізвище:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u365" class="ax_default label">
                        <div id="u365_div" class=""></div>
                        <div id="u365_text" class="text ">
                            <p><span>По батькові:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u366" class="ax_default label">
                        <div id="u366_div" class=""></div>
                        <div id="u366_text" class="text ">
                            <p><span>Номер паспорту:</span></p>
                        </div>
                    </div>

                    <!-- email (Text Field) -->
                    <div id="u367" class="ax_default text_field" data-label="email">
                        <div id="u367_div" class=""></div>
                        <input id="u367_input" type="email" name="Mail" class="u367_input" />
                    </div>

                    <!-- password (Text Field) -->
                    <div id="u368" class="ax_default text_field" data-label="password">
                        <div id="u368_div" class=""></div>
                        <input id="u368_input" type="password" name="Password" class="u368_input" />
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u369" class="ax_default label">
                        <div id="u369_div" class=""></div>
                        <div id="u369_text" class="text ">
                            <p><span>Почтова скринька:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u370" class="ax_default label">
                        <div id="u370_div" class=""></div>
                        <div id="u370_text" class="text ">
                            <p><span>Пароль:</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u371" class="ax_default button">
                        <div id="u371_div" class=""></div>
                        <div id="u371_text" class="text ">
                            <p><input type="submit" value="Додати лікаря" /></p>
                        </div>
                    </div>
                </form>
</div>
        </div>
    </div>
    </div>
    <script src="~/Content/resources/scripts/axure/ios.js"></script>
</body>
</html>

