@{
    Layout = "~/Views/Shared/_Layout8.cshtml";
}

    <html>
    <head>
        <title>Зміна декларації</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="~/Content/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/data/styles.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/files/зміна_декларації/styles.css" type="text/css" rel="stylesheet" />
        <script src="~/Content/resources/scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Content/resources/scripts/axure/axQuery.js"></script>
        <script src="~/Content/resources/scripts/axure/globals.js"></script>
        <script src="~/Content/resources/scripts/axutils.js"></script>
        <script src="~/Content/resources/scripts/axure/annotation.js"></script>
        <script src="~/Content/resources/scripts/axure/axQuery.std.js"></script>
        <script src="~/Content/resources/scripts/axure/doc.js"></script>
        <script src="~/Content/resources/scripts/messagecenter.js"></script>
        <script src="~/Content/resources/scripts/axure/events.js"></script>
        <script src="~/Content/resources/scripts/axure/recording.js"></script>
        <script src="~/Content/resources/scripts/axure/action.js"></script>
        <script src="~/Content/resources/scripts/axure/expr.js"></script>
        <script src="~/Content/resources/scripts/axure/geometry.js"></script>
        <script src="~/Content/resources/scripts/axure/flyout.js"></script>
        <script src="~/Content/resources/scripts/axure/model.js"></script>
        <script src="~/Content/resources/scripts/axure/repeater.js"></script>
        <script src="~/Content/resources/scripts/axure/sto.js"></script>
        <script src="~/Content/resources/scripts/axure/utils.temp.js"></script>
        <script src="~/Content/resources/scripts/axure/variables.js"></script>
        <script src="~/Content/resources/scripts/axure/drag.js"></script>
        <script src="~/Content/resources/scripts/axure/move.js"></script>
        <script src="~/Content/resources/scripts/axure/visibility.js"></script>
        <script src="~/Content/resources/scripts/axure/style.js"></script>
        <script src="~/Content/resources/scripts/axure/adaptive.js"></script>
        <script src="~/Content/resources/scripts/axure/tree.js"></script>
        <script src="~/Content/resources/scripts/axure/init.temp.js"></script>
        <script src="~/Content/resources/scripts/axure/legacy.js"></script>
        <script src="~/Content/resources/scripts/axure/viewer.js"></script>
        <script src="~/Content/resources/scripts/axure/math.js"></script>
        <script src="~/Content/resources/scripts/axure/jquery.nicescroll.min.js"></script>
        <script src="~/Content/data/document.js"></script>
        <script src="~/Content/files/зміна_декларації/data.js"></script>
        <script type="text/javascript">
            $axure.utils.getTransparentGifPath = function () { return '~/Content/resources/images/transparent.gif'; };
            $axure.utils.getOtherPath = function () { return '~/Content/resources/Other.html'; };
            $axure.utils.getReloadPath = function () { return '~/Content/resources/reload.html'; };
        </script>
    </head>
    <body>
            <div id="base" class="">

                
                <!-- Ready (Dynamic Panel) -->
                <div id="u532" class="ax_default ax_default_hidden" data-label="Ready" style="display:none; visibility: hidden">
                    <div id="u532_state0" class="panel_state" data-label="State1" style="">
                        <div id="u532_state0_content" class="panel_state_content">

                            <!-- Unnamed (Dynamic Panel) -->
                            <div id="u533" class="ax_default">
                                <div id="u533_state0" class="panel_state" data-label="State1" style="">
                                    <div id="u533_state0_content" class="panel_state_content">
                                    </div>
                                </div>
                            </div>

                            <!-- Unnamed (Dynamic Panel) -->
                            <div id="u534" class="ax_default">
                                <div id="u534_state0" class="panel_state" data-label="State1" style="">
                                    <div id="u534_state0_content" class="panel_state_content">

                                        <!-- Unnamed (Rectangle) -->
                                        <div id="u535" class="ax_default label">
                                            <div id="u535_div" class=""></div>
                                            <div id="u535_text" class="text ">
                                                <p><span>Ви впевнені, що хочете подати заяву?</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u536" class="ax_default button">
                                <div id="u536_div" class=""></div>
                                <div id="u536_text" class="text ">
                                    <p><span>Ні</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u537" class="ax_default button">
                                <div id="u537_div" class=""></div>
                                <div id="u537_text" class="text ">
                                    <p><span>Так</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Message2 (Dynamic Panel) -->
                <div id="u538" class="ax_default ax_default_hidden" data-label="Message2" style="display:none; visibility: hidden">
                    <div id="u538_state0" class="panel_state" data-label="State1" style="">
                        <div id="u538_state0_content" class="panel_state_content">

                            <!-- Unnamed (Dynamic Panel) -->
                            <div id="u539" class="ax_default">
                                <div id="u539_state0" class="panel_state" data-label="State1" style="">
                                    <div id="u539_state0_content" class="panel_state_content">
                                    </div>
                                </div>
                            </div>

                            <!-- Unnamed (Dynamic Panel) -->
                            <div id="u540" class="ax_default">
                                <div id="u540_state0" class="panel_state" data-label="State1" style="">
                                    <div id="u540_state0_content" class="panel_state_content">

                                        <!-- Unnamed (Rectangle) -->
                                        <div id="u541" class="ax_default label">
                                            <div id="u541_div" class=""></div>
                                            <div id="u541_text" class="text ">
                                                <p><span>Ви успішно подали заяву про зміну декларації!</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u542" class="ax_default box_1">
                    <div id="u542_div" class=""></div>
                    <div id="u542_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u543" class="ax_default button">
                    <div id="u543_div" class=""></div>
                    <div id="u543_text" class="text ">
                        <p><span>@Html.ActionLink("Подати заяву", "Pac", "Home")</span></p>
                    </div>
                </div>

                <!-- Unnamed (Text Area) -->
                <div id="u544" class="ax_default text_area">
                    <div id="u544_div" class=""></div>
                    <textarea id="u544_input" class="u544_input"></textarea>
                </div>

                <!-- Unnamed (Master 1) -->
                <!-- Unnamed (Dynamic Panel) -->
                <div id="u546" class="ax_default">
                    <div id="u546_state0" class="panel_state" data-label="State1" style="">
                        <div id="u546_state0_content" class="panel_state_content">

                            <!-- Unnamed (Rectangle) -->
                            <div id="u547" class="ax_default heading_1">
                                <div id="u547_div" class=""></div>
                                <div id="u547_text" class="text ">
                                    <p><span>©2020 Всі права захищені!</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u548" class="ax_default heading_1">
                                <div id="u548_div" class=""></div>
                                <div id="u548_text" class="text ">
                                    <p><span>Контакти</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u549" class="ax_default heading_1">
                                <div id="u549_div" class=""></div>
                                <div id="u549_text" class="text ">
                                    <p><span>Мобільний телефон: 095 000 61 83</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Rectangle) -->
                            <div id="u550" class="ax_default heading_1">
                                <div id="u550_div" class=""></div>
                                <div id="u550_text" class="text ">
                                    <p><span>Електронна почта: likar.servis@gmail.com</span></p>
                                </div>
                            </div>

                            <!-- Unnamed (Shape) -->
                            <div id="u551" class="ax_default icon">
                                <img id="u551_img" class="img " src="~/Content/images/вхід/u31.svg" />
                                <div id="u551_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>

                            <!-- Unnamed (Shape) -->
                            <div id="u552" class="ax_default icon">
                                <img id="u552_img" class="img " src="~/Content/images/вхід/u32.svg" />
                                <div id="u552_text" class="text " style="display:none; visibility: hidden">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u553" class="ax_default icon">
                    <img id="u553_img" class="img " src="~/Content/images/вхід/u32.svg" />
                    <div id="u553_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
                <div id="u545" style="display:none; visibility:hidden;"></div>

                <!-- Unnamed (Rectangle) -->
                <div id="u554" class="ax_default box_1">
                    <div id="u554_div" class=""></div>
                    <div id="u554_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u555" class="ax_default label">
                    <div id="u555_div" class=""></div>
                    <div id="u555_text" class="text ">
                        <p><span>Призначення до лікарів</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u556" class="ax_default box_1">
                    <div id="u556_div" class=""></div>
                    <div id="u556_text" class="text ">
                        <p><span>Заява про зміну декларації</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table) -->
                <div id="u557" class="ax_default">

                    <!-- Unnamed (Table Cell) -->
                    <div id="u558" class="ax_default table_cell">
                        <img id="u558_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u428.png" />
                        <div id="u558_text" class="text ">
                            <p><span>Лікар</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u559" class="ax_default table_cell">
                        <img id="u559_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u429.png" />
                        <div id="u559_text" class="text ">
                            <p><span>Дата</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u560" class="ax_default table_cell">
                        <img id="u560_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u430.png" />
                        <div id="u560_text" class="text ">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u561" class="ax_default table_cell">
                        <img id="u561_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u431.png" />
                        <div id="u561_text" class="text ">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- pro1 (Table Cell) -->
                    <div id="u562" class="ax_default table_cell" data-label="pro1">
                        <img id="u562_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u430.png" />
                        <div id="u562_text" class="text ">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- pro2 (Table Cell) -->
                    <div id="u563" class="ax_default table_cell" data-label="pro2">
                        <img id="u563_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u431.png" />
                        <div id="u563_text" class="text ">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u564" class="ax_default table_cell">
                        <img id="u564_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u430.png" />
                        <div id="u564_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u565" class="ax_default table_cell">
                        <img id="u565_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u431.png" />
                        <div id="u565_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u566" class="ax_default table_cell">
                        <img id="u566_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u436.png" />
                        <div id="u566_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Table Cell) -->
                    <div id="u567" class="ax_default table_cell">
                        <img id="u567_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u437.png" />
                        <div id="u567_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u568" class="ax_default" data-left="30" data-top="95" data-width="222" data-height="40">

                    <!-- Unnamed (Shape) -->
                    <div id="u569" class="ax_default flow_shape">
                        <img id="u569_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                        <div id="u569_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u570" class="ax_default flow_shape">
                        <img id="u570_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                        <div id="u570_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u571" class="ax_default heading_1">
                        <div id="u571_div" class=""></div>
                        <div id="u571_text" class="text ">
                            <p><span>@Html.ActionLink("Ваша сторінка", "Pac", "Home")</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u572" class="ax_default" data-left="237" data-top="95" data-width="293" data-height="40">

                    <!-- Unnamed (Shape) -->
                    <div id="u573" class="ax_default flow_shape">
                        <img id="u573_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                        <div id="u573_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u574" class="ax_default flow_shape">
                        <img id="u574_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                        <div id="u574_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u575" class="ax_default heading_1">
                        <div id="u575_div" class=""></div>
                        <div id="u575_text" class="text ">
                            <p><span>Зміна декларації</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u576" class="ax_default" data-left="50" data-top="785" data-width="125" data-height="45">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u577" class="ax_default button">
                        <div id="u577_div" class=""></div>
                        <div id="u577_text" class="text ">
                            <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Назад", "Pac", "Home")</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Line) -->
                    <div id="u578" class="ax_default arrow">
                        <img id="u578_img" class="img " src="~/Content/images/реєстрація/u178.svg" />
                        <div id="u578_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <script src="~/Content/resources/scripts/axure/ios.js"></script>
    </body>
    </html>
