@{
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<html>
<head>
    <title>Особистий кабінет лікаря</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/Content/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/data/styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/files/сторінка_пацієнта/styles.css" type="text/css" rel="stylesheet" />
    <script src="~/Content/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.js"></script>
    <script src="~/Content/resources/scripts/axure/globals.js"></script>
    <script src="~/Content/resources/scripts/axutils.js"></script>
    <script src="~/Content/resources/scripts/axure/annotation.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.std.js"></script>
    <script src="~/Content/resources/scripts/axure/doc.js"></script>
    <script src="~/Content/resources/scripts/messagecenter.js"></script>
    <script src="~/Content/resources/scripts/axure/events.js"></script>
    <script src="~/Content/resources/scripts/axure/recording.js"></script>
    <script src="~/Content/resources/scripts/axure/action.js"></script>
    <script src="~/Content/resources/scripts/axure/expr.js"></script>
    <script src="~/Content/resources/scripts/axure/geometry.js"></script>
    <script src="~/Content/resources/scripts/axure/flyout.js"></script>
    <script src="~/Content/resources/scripts/axure/model.js"></script>
    <script src="~/Content/resources/scripts/axure/repeater.js"></script>
    <script src="~/Content/resources/scripts/axure/sto.js"></script>
    <script src="~/Content/resources/scripts/axure/utils.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/variables.js"></script>
    <script src="~/Content/resources/scripts/axure/drag.js"></script>
    <script src="~/Content/resources/scripts/axure/move.js"></script>
    <script src="~/Content/resources/scripts/axure/visibility.js"></script>
    <script src="~/Content/resources/scripts/axure/style.js"></script>
    <script src="~/Content/resources/scripts/axure/adaptive.js"></script>
    <script src="~/Content/resources/scripts/axure/tree.js"></script>
    <script src="~/Content/resources/scripts/axure/init.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/legacy.js"></script>
    <script src="~/Content/resources/scripts/axure/viewer.js"></script>
    <script src="~/Content/resources/scripts/axure/math.js"></script>
    <script src="~/Content/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="~/Content/data/document.js"></script>
    <script src="~/Content/files/сторінка_пацієнта/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return '~/Content/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return '~/Content/resources/Other.html'; };
        $axure.utils.getReloadPath = function () { return '~/Content/resources/reload.html'; };
    </script>
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u619" class="ax_default box_1">
            <div id="u619_div" class=""></div>
            <div id="u619_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u620" class="ax_default label">
            <div id="u620_div" class=""></div>
            <div id="u620_text" class="text ">
                <p><span>Наступні пацієнти</span></p>
            </div>
        </div>

        <!-- Unnamed (Table) -->
        <div id="u621" class="ax_default">

            <!-- Unnamed (Table Cell) -->
            <div id="u622" class="ax_default table_cell">
                <img id="u622_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u426.png" />
                <div id="u622_text" class="text ">
                    <p><span>Пацієнт</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u623" class="ax_default table_cell">
                <img id="u623_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u427.png" />
                <div id="u623_text" class="text ">
                    <p><span>Дата</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u624" class="ax_default table_cell">
                <img id="u624_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u428.png" />
                <div id="u624_text" class="text ">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u625" class="ax_default table_cell">
                <img id="u625_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u429.png" />
                <div id="u625_text" class="text ">
                    <p><span></span></p><p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u626" class="ax_default table_cell">
                <img id="u626_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u428.png" />
                <div id="u626_text" class="text ">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u627" class="ax_default table_cell">
                <img id="u627_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u429.png" />
                <div id="u627_text" class="text ">
                    <p><span></span></p><p><span></span></p>
                </div>
            </div>

            <!-- pro1 (Table Cell) -->
            <div id="u628" class="ax_default table_cell" data-label="pro1">
                <img id="u628_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u428.png" />
                <div id="u628_text" class="text ">
                    <p><span></span></p>
                </div>
            </div>

            <!-- pro2 (Table Cell) -->
            <div id="u629" class="ax_default table_cell" data-label="pro2">
                <img id="u629_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u429.png" />
                <div id="u629_text" class="text ">
                    <p><span></span></p><p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u630" class="ax_default table_cell">
                <img id="u630_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u434.png" />
                <div id="u630_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u631" class="ax_default table_cell">
                <img id="u631_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u435.png" />
                <div id="u631_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u632" class="ax_default box_1">
            <div id="u632_div" class=""></div>
            <div id="u632_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u633" class="ax_default box_1">
            <div id="u633_div" class=""></div>
            <div id="u633_text" class="text ">
                <p><span>Медична картка пацієнта</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u634" class="ax_default" data-left="30" data-top="95" data-width="222" data-height="40">

            <!-- Unnamed (Shape) -->
            <div id="u635" class="ax_default flow_shape">
                <img id="u635_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                <div id="u635_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u636" class="ax_default flow_shape">
                <img id="u636_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                <div id="u636_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u637" class="ax_default heading_1">
                <div id="u637_div" class=""></div>
                <div id="u637_text" class="text ">
                    <p><span>@Html.ActionLink("Ваша сторінка", "NavD1", "Home")</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u638" class="ax_default" data-left="237" data-top="95" data-width="293" data-height="40">

            <!-- Unnamed (Shape) -->
            <div id="u639" class="ax_default flow_shape">
                <img id="u639_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                <div id="u639_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u640" class="ax_default flow_shape">
                <img id="u640_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                <div id="u640_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u641" class="ax_default heading_1">
                <div id="u641_div" class=""></div>
                <div id="u641_text" class="text ">
                    <p><span>Сторінка пацієнта</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Master 4) -->
        <!-- Unnamed (Dynamic Panel) -->
        <div id="u643" class="ax_default">
            <div id="u643_state0" class="panel_state" data-label="State1" style="">
                <div id="u643_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u644" class="ax_default">
                        <div id="u644_state0" class="panel_state" data-label="State1" style="">
                            <div id="u644_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u645" class="ax_default button">
                                    <div id="u645_div" class=""></div>
                                    <div id="u645_text" class="text ">
                                        <p><span>Вийти</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u646" class="ax_default link_button">
                                    <div id="u646_div" class=""></div>
                                    <div id="u646_text" class="text ">
                                        <p><span style="text-decoration:underline ;">doc00130841</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u647" class="ax_default link_button">
                                    <div id="u647_div" class=""></div>
                                    <div id="u647_text" class="text ">
                                        <p><span>Ви увійшли як</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u648" class="ax_default">
                        <div id="u648_state0" class="panel_state" data-label="State1" style="">
                            <div id="u648_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u649" class="ax_default heading_1">
                                    <div id="u649_div" class=""></div>
                                    <div id="u649_text" class="text ">
                                        <p><span>Іванов Миколай Олексійович</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u650" class="ax_default box_1">
                                    <div id="u650_div" class=""></div>
                                    <div id="u650_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Image) -->
                                <div id="u651" class="ax_default image">
                                    <img id="u651_img" class="img " src="~/Content/images/вхід/u17.png" />
                                    <div id="u651_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="u642" style="display:none; visibility:hidden;"></div>

        <!-- Unnamed (Image) -->
        <div id="u652" class="ax_default image">
            <img id="u652_img" class="img " src="~/Content/images/сторінка_пацієнта/u652.svg" />
            <div id="u652_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u653" class="ax_default heading_3">
            <div id="u653_div" class=""></div>
            <div id="u653_text" class="text ">
                <p><span>П.І.Б.: </span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u654" class="ax_default heading_3">
            <div id="u654_div" class=""></div>
            <div id="u654_text" class="text ">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u655" class="ax_default heading_3">
            <div id="u655_div" class=""></div>
            <div id="u655_text" class="text ">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u657" class="ax_default primary_button">
            <img id="u657_img" class="img " src="~/Content/images/сторінка_пацієнта/u657.svg" />
            <div id="u657_text" class="text ">
                <p><span>@Html.ActionLink("Назначити препарати", "NavD3", "Home")</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u658" class="ax_default primary_button">
            <div id="u658_div" class=""></div>
            <div id="u658_text" class="text ">
                <p><span>Добавити діагноз</span></p>
            </div>
        </div>

        <!-- in_hv (Text Field) -->
        <div id="u659" class="ax_default text_field" data-label="in_hv">
            <div id="u659_div" class=""></div>
            <input id="u659_input" type="text" value="" class="u659_input" />
        </div>

        <!-- Unnamed (Group) -->
        <div id="u660" class="ax_default" data-left="50" data-top="1517" data-width="125" data-height="45">

            <!-- Unnamed (Rectangle) -->
            <div id="u661" class="ax_default button">
                <div id="u661_div" class=""></div>
                <div id="u661_text" class="text ">
                    <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Назад", "NavD1", "Home")</span></p>
                </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u662" class="ax_default arrow">
                <img id="u662_img" class="img " src="~/Content/images/реєстрація/u178.svg" />
                <div id="u662_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u663" class="ax_default label">
            <div id="u663_div" class=""></div>
            <div id="u663_text" class="text ">
                <p><span>Додавання захворювань</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u664" class="ax_default label">
            <div id="u664_div" class=""></div>
            <div id="u664_text" class="text ">
                <p><span>Назва захворювання:</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u665" class="ax_default label">
            <div id="u665_div" class=""></div>
            <div id="u665_text" class="text ">
                <p><span>Опис захворювання:</span></p>
            </div>
        </div>

        <!-- text_hvo (Text Area) -->
        <div id="u666" class="ax_default text_area" data-label="text_hvo">
            <div id="u666_div" class=""></div>
            <textarea id="u666_input" class="u666_input"></textarea>
        </div>

        <!-- Ready2 (Dynamic Panel) -->
        <div id="u667" class="ax_default ax_default_hidden" data-label="Ready2" style="display:none; visibility: hidden">
            <div id="u667_state0" class="panel_state" data-label="State1" style="">
                <div id="u667_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u668" class="ax_default">
                        <div id="u668_state0" class="panel_state" data-label="State1" style="">
                            <div id="u668_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u669" class="ax_default">
                        <div id="u669_state0" class="panel_state" data-label="State1" style="">
                            <div id="u669_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u670" class="ax_default label">
                                    <div id="u670_div" class=""></div>
                                    <div id="u670_text" class="text ">
                                        <p><span>Ви впевнені, що хочете додати це захворювання?</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u671" class="ax_default button">
                        <div id="u671_div" class=""></div>
                        <div id="u671_text" class="text ">
                            <p><span>Ні</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u672" class="ax_default button">
                        <div id="u672_div" class=""></div>
                        <div id="u672_text" class="text ">
                            <p><span>Так</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message (Dynamic Panel) -->
        <div id="u673" class="ax_default ax_default_hidden" data-label="Message" style="display:none; visibility: hidden">
            <div id="u673_state0" class="panel_state" data-label="State1" style="">
                <div id="u673_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u674" class="ax_default">
                        <div id="u674_state0" class="panel_state" data-label="State1" style="">
                            <div id="u674_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u675" class="ax_default">
                        <div id="u675_state0" class="panel_state" data-label="State1" style="">
                            <div id="u675_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u676" class="ax_default label">
                                    <div id="u676_div" class=""></div>
                                    <div id="u676_text" class="text ">
                                        <p><span>Ви успішно добавили діагноз!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- in_hvo (Text Field) -->
        <div id="u677" class="ax_default text_field" data-label="in_hvo">
            <div id="u677_div" class=""></div>
            <input id="u677_input" type="text" value="" class="u677_input" />
        </div>

        <!-- in_hvo2 (Text Field) -->
        <div id="u678" class="ax_default text_field disabled" data-label="in_hvo2">
            <div id="u678_div" class="disabled"></div>
            <input id="u678_input" type="text" value="" class="u678_input" disabled />
        </div>

        <!-- Unnamed (Radio Button) -->
        <div id="u679" class="ax_default radio_button selected">
            <label id="u679_input_label" for="u679_input" style="position: absolute; left: 0px;">
                <img id="u679_img" class="img " src="~/Content/images/сторінка_пацієнта/u679_selected.svg" />
                <div id="u679_text" class="text ">
                    <p><span>&nbsp;Дата початку захворювання</span></p>
                </div>
            </label>
            <input id="u679_input" type="radio" value="radio" name="u679" checked />
        </div>

        <!-- Unnamed (Radio Button) -->
        <div id="u680" class="ax_default radio_button">
            <label id="u680_input_label" for="u680_input" style="position: absolute; left: 0px;">
                <img id="u680_img" class="img " src="~/Content/images/сторінка_пацієнта/u680.svg" />
                <div id="u680_text" class="text ">
                    <p><span>&nbsp;Дата одужування</span></p>
                </div>
            </label>
            <input id="u680_input" type="radio" value="radio" name="u680" />
        </div>

        <!-- Message2 (Dynamic Panel) -->
        <div id="u681" class="ax_default ax_default_hidden" data-label="Message2" style="display:none; visibility: hidden">
            <div id="u681_state0" class="panel_state" data-label="State1" style="">
                <div id="u681_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u682" class="ax_default">
                        <div id="u682_state0" class="panel_state" data-label="State1" style="">
                            <div id="u682_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u683" class="ax_default">
                        <div id="u683_state0" class="panel_state" data-label="State1" style="">
                            <div id="u683_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u684" class="ax_default label">
                                    <div id="u684_div" class=""></div>
                                    <div id="u684_text" class="text ">
                                        <p><span>Будь ласка, заповніть всі поля!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Table) -->
        <div id="u685" class="ax_default">

            <!-- Unnamed (Table Cell) -->
            <div id="u686" class="ax_default table_cell">
                <img id="u686_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u372.png" />
                <div id="u686_text" class="text ">
                    <p><span>Захворювання</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u687" class="ax_default table_cell">
                <img id="u687_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u372.png" />
                <div id="u687_text" class="text ">
                    <p><span>Дата початку захворювання</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u688" class="ax_default table_cell">
                <img id="u688_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u374.png" />
                <div id="u688_text" class="text ">
                    <p><span>Дата одужування</span></p>
                </div>
            </div>

            <!-- t1 (Table Cell) -->
            <div id="u689" class="ax_default table_cell" data-label="t1">
                <img id="u689_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u689_text" class="text ">
                    <p><span>Бронхіт</span></p>
                </div>
            </div>

            <!-- t2 (Table Cell) -->
            <div id="u690" class="ax_default table_cell" data-label="t2">
                <img id="u690_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u690_text" class="text ">
                    <p><span>20.08.2019</span></p>
                </div>
            </div>

            <!-- t3 (Table Cell) -->
            <div id="u691" class="ax_default table_cell" data-label="t3">
                <img id="u691_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u377.png" />
                <div id="u691_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- t4 (Table Cell) -->
            <div id="u692" class="ax_default table_cell" data-label="t4">
                <img id="u692_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u692_text" class="text ">
                    <p><span>Бронхіт</span></p>
                </div>
            </div>

            <!-- t5 (Table Cell) -->
            <div id="u693" class="ax_default table_cell" data-label="t5">
                <img id="u693_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u693_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- t6 (Table Cell) -->
            <div id="u694" class="ax_default table_cell" data-label="t6">
                <img id="u694_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u377.png" />
                <div id="u694_text" class="text ">
                    <p><span>29.08.2019</span></p>
                </div>
            </div>

            <!-- t7 (Table Cell) -->
            <div id="u695" class="ax_default table_cell" data-label="t7">
                <img id="u695_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u695_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- t8 (Table Cell) -->
            <div id="u696" class="ax_default table_cell" data-label="t8">
                <img id="u696_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u696_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- t9 (Table Cell) -->
            <div id="u697" class="ax_default table_cell" data-label="t9">
                <img id="u697_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u377.png" />
                <div id="u697_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u698" class="ax_default table_cell">
                <img id="u698_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u698_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u699" class="ax_default table_cell">
                <img id="u699_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u699_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u700" class="ax_default table_cell">
                <img id="u700_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u377.png" />
                <div id="u700_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u701" class="ax_default table_cell">
                <img id="u701_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u701_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u702" class="ax_default table_cell">
                <img id="u702_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u702_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u703" class="ax_default table_cell">
                <img id="u703_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u377.png" />
                <div id="u703_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u704" class="ax_default table_cell">
                <img id="u704_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u704_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u705" class="ax_default table_cell">
                <img id="u705_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u375.png" />
                <div id="u705_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u706" class="ax_default table_cell">
                <img id="u706_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u377.png" />
                <div id="u706_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u707" class="ax_default table_cell">
                <img id="u707_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u393.png" />
                <div id="u707_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u708" class="ax_default table_cell">
                <img id="u708_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u393.png" />
                <div id="u708_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u709" class="ax_default table_cell">
                <img id="u709_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u395.png" />
                <div id="u709_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u710" class="ax_default button">
            <div id="u710_div" class=""></div>
            <div id="u710_text" class="text ">
                <p><span>Докладніше</span></p>
            </div>
        </div>

        <!-- show (Rectangle) -->
        <div id="u711" class="ax_default box_2 ax_default_hidden" data-label="show" style="display:none; visibility: hidden">
            <div id="u711_div" class=""></div>
            <div id="u711_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Master 1) -->
        <!-- Unnamed (Dynamic Panel) -->
        <div id="u713" class="ax_default">
            <div id="u713_state0" class="panel_state" data-label="State1" style="">
                <div id="u713_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u714" class="ax_default heading_1">
                        <div id="u714_div" class=""></div>
                        <div id="u714_text" class="text ">
                            <p><span>©2020 Всі права захищені!</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u715" class="ax_default heading_1">
                        <div id="u715_div" class=""></div>
                        <div id="u715_text" class="text ">
                            <p><span>Контакти</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u716" class="ax_default heading_1">
                        <div id="u716_div" class=""></div>
                        <div id="u716_text" class="text ">
                            <p><span>Мобільний телефон: 095 000 61 83</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u717" class="ax_default heading_1">
                        <div id="u717_div" class=""></div>
                        <div id="u717_text" class="text ">
                            <p><span>Електронна почта: likar.servis@gmail.com</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u718" class="ax_default icon">
                        <img id="u718_img" class="img " src="~/Content/images/вхід/u31.svg" />
                        <div id="u718_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u719" class="ax_default icon">
                        <img id="u719_img" class="img " src="~/Content/images/вхід/u32.svg" />
                        <div id="u719_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Shape) -->
        <div id="u720" class="ax_default icon">
            <img id="u720_img" class="img " src="~/Content/images/вхід/u32.svg" />
            <div id="u720_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
        <div id="u712" style="display:none; visibility:hidden;"></div>

        <!-- M2 (Dynamic Panel) -->
        <div id="u721" class="ax_default ax_default_hidden" data-label="M2" style="display:none; visibility: hidden">
            <div id="u721_state0" class="panel_state" data-label="State1" style="">
                <div id="u721_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u722" class="ax_default">
                        <div id="u722_state0" class="panel_state" data-label="State1" style="">
                            <div id="u722_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u723" class="ax_default">
                        <div id="u723_state0" class="panel_state" data-label="State1" style="">
                            <div id="u723_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u724" class="ax_default label">
                                    <div id="u724_div" class=""></div>
                                    <div id="u724_text" class="text ">
                                        <p><span>У пацієнта не було виявлено високої температури, кашлю, тому він вихворівся від бронхіту. Цей діагноз знімається з нього.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- M1 (Dynamic Panel) -->
        <div id="u725" class="ax_default ax_default_hidden" data-label="M1" style="display:none; visibility: hidden">
            <div id="u725_state0" class="panel_state" data-label="State1" style="">
                <div id="u725_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u726" class="ax_default">
                        <div id="u726_state0" class="panel_state" data-label="State1" style="">
                            <div id="u726_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u727" class="ax_default">
                        <div id="u727_state0" class="panel_state" data-label="State1" style="">
                            <div id="u727_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u728" class="ax_default label">
                                    <div id="u728_div" class=""></div>
                                    <div id="u728_text" class="text ">
                                        <p><span>У пацієнта було виявлено висока температура, частий кашель, погіршення самопочуття, тому йому був поставлений діагноз - бронхіт.</span></p><p><span>Йому були назначені таблетки від кашлю, парацетамол.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- M0 (Dynamic Panel) -->
        <div id="u729" class="ax_default ax_default_hidden" data-label="M0" style="display:none; visibility: hidden">
            <div id="u729_state0" class="panel_state" data-label="State1" style="">
                <div id="u729_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u730" class="ax_default">
                        <div id="u730_state0" class="panel_state" data-label="State1" style="">
                            <div id="u730_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u731" class="ax_default">
                        <div id="u731_state0" class="panel_state" data-label="State1" style="">
                            <div id="u731_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u732" class="ax_default label">
                                    <div id="u732_div" class=""></div>
                                    <div id="u732_text" class="text ">
                                        <p><span>Виберіть хворобу в медичній картці для докладної інформації!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u733" class="ax_default label">
            <div id="u733_div" class=""></div>
            <div id="u733_text" class="text ">
                <p><span>Оплата</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u734" class="ax_default primary_button">
            <img id="u734_img" class="img " src="~/Content/images/сторінка_пацієнта/u657.svg" />
            <div id="u734_text" class="text ">
                <p><span>Пацієнт не оплатив</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u735" class="ax_default" data-left="1093" data-top="733" data-width="16" data-height="16">

            <!-- Unnamed (Shape) -->
            <div id="u736" class="ax_default icon">
                <img id="u736_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u449.svg" />
                <div id="u736_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u737" class="ax_default icon">
                <img id="u737_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u450.svg" />
                <div id="u737_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Mess2 (Dynamic Panel) -->
        <div id="u738" class="ax_default ax_default_hidden" data-label="Mess2" style="display:none; visibility: hidden">
            <div id="u738_state0" class="panel_state" data-label="State1" style="">
                <div id="u738_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u739" class="ax_default">
                        <div id="u739_state0" class="panel_state" data-label="State1" style="">
                            <div id="u739_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u740" class="ax_default label">
                                    <div id="u740_div" class=""></div>
                                    <div id="u740_text" class="text ">
                                        <p><span>Використовується у випадку, коли пацієнт не заплатив за послугу</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- M3 (Dynamic Panel) -->
        <div id="u741" class="ax_default ax_default_hidden" data-label="M3" style="display:none; visibility: hidden">
            <div id="u741_state0" class="panel_state" data-label="State1" style="">
                <div id="u741_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u742" class="ax_default">
                        <div id="u742_state0" class="panel_state" data-label="State1" style="">
                            <div id="u742_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u743" class="ax_default">
                        <div id="u743_state0" class="panel_state" data-label="State1" style="">
                            <div id="u743_state0_content" class="panel_state_content">

                                <!-- tm3 (Rectangle) -->
                                <div id="u744" class="ax_default label" data-label="tm3">
                                    <div id="u744_div" class=""></div>
                                    <div id="u744_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u745" class="ax_default primary_button ax_default_hidden" style="display:none; visibility: hidden">
            <img id="u745_img" class="img " src="~/Content/images/сторінка_пацієнта/u745.svg" />
            <div id="u745_text" class="text ">
                <p><span>Пацієнт оплатив</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u746" class="ax_default heading_3 ax_default_hidden" style="display:none; visibility: hidden">
            <div id="u746_div" class=""></div>
            <div id="u746_text" class="text ">
                <p><span>ПАЦІЄНТ НЕ ОПЛАТИВ ПОСЛУГУ</span></p>
            </div>
        </div>
    </div>
    <script src="~/Content/resources/scripts/axure/ios.js"></script>
</body>
</html>
