@{
    Layout = "~/Views/Shared/_Layout5.cshtml";
}

<html>
<head>
    <title>Препарати</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/Content/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/data/styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/files/препарати/styles.css" type="text/css" rel="stylesheet" />
    <script src="~/Content/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.js"></script>
    <script src="~/Content/resources/scripts/axure/globals.js"></script>
    <script src="~/Content/resources/scripts/axutils.js"></script>
    <script src="~/Content/resources/scripts/axure/annotation.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.std.js"></script>
    <script src="~/Content/resources/scripts/axure/doc.js"></script>
    <script src="~/Content/resources/scripts/messagecenter.js"></script>
    <script src="~/Content/resources/scripts/axure/events.js"></script>
    <script src="~/Content/resources/scripts/axure/recording.js"></script>
    <script src="~/Content/resources/scripts/axure/action.js"></script>
    <script src="~/Content/resources/scripts/axure/expr.js"></script>
    <script src="~/Content/resources/scripts/axure/geometry.js"></script>
    <script src="~/Content/resources/scripts/axure/flyout.js"></script>
    <script src="~/Content/resources/scripts/axure/model.js"></script>
    <script src="~/Content/resources/scripts/axure/repeater.js"></script>
    <script src="~/Content/resources/scripts/axure/sto.js"></script>
    <script src="~/Content/resources/scripts/axure/utils.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/variables.js"></script>
    <script src="~/Content/resources/scripts/axure/drag.js"></script>
    <script src="~/Content/resources/scripts/axure/move.js"></script>
    <script src="~/Content/resources/scripts/axure/visibility.js"></script>
    <script src="~/Content/resources/scripts/axure/style.js"></script>
    <script src="~/Content/resources/scripts/axure/adaptive.js"></script>
    <script src="~/Content/resources/scripts/axure/tree.js"></script>
    <script src="~/Content/resources/scripts/axure/init.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/legacy.js"></script>
    <script src="~/Content/resources/scripts/axure/viewer.js"></script>
    <script src="~/Content/resources/scripts/axure/math.js"></script>
    <script src="~/Content/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="~/Content/data/document.js"></script>
    <script src="~/Content/files/препарати/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return '~/Content/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return '~/Content/resources/Other.html'; };
        $axure.utils.getReloadPath = function () { return '~/Content/resources/reload.html'; };
    </script>
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u758" class="ax_default box_1">
            <div id="u758_div" class=""></div>
            <div id="u758_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u759" class="ax_default box_1">
            <div id="u759_div" class=""></div>
            <div id="u759_text" class="text ">
                <p><span>Препарати пацієнта</span></p>
            </div>
        </div>

        <!-- Unnamed (Master 1) -->
        <!-- Unnamed (Dynamic Panel) -->
        <div id="u761" class="ax_default">
            <div id="u761_state0" class="panel_state" data-label="State1" style="">
                <div id="u761_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u762" class="ax_default heading_1">
                        <div id="u762_div" class=""></div>
                        <div id="u762_text" class="text ">
                            <p><span>©2020 Всі права захищені!</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u763" class="ax_default heading_1">
                        <div id="u763_div" class=""></div>
                        <div id="u763_text" class="text ">
                            <p><span>Контакти</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u764" class="ax_default heading_1">
                        <div id="u764_div" class=""></div>
                        <div id="u764_text" class="text ">
                            <p><span>Мобільний телефон: 095 000 61 83</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u765" class="ax_default heading_1">
                        <div id="u765_div" class=""></div>
                        <div id="u765_text" class="text ">
                            <p><span>Електронна почта: likar.servis@gmail.com</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u766" class="ax_default icon">
                        <img id="u766_img" class="img " src="~/Content/images/вхід/u31.svg" />
                        <div id="u766_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u767" class="ax_default icon">
                        <img id="u767_img" class="img " src="~/Content/images/вхід/u32.svg" />
                        <div id="u767_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Unnamed (Group) -->
        <div id="u779" class="ax_default" data-left="30" data-top="95" data-width="222" data-height="40">

            <!-- Unnamed (Shape) -->
            <div id="u780" class="ax_default flow_shape">
                <img id="u780_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                <div id="u780_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u781" class="ax_default flow_shape">
                <img id="u781_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                <div id="u781_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u782" class="ax_default heading_1">
                <div id="u782_div" class=""></div>
                <div id="u782_text" class="text ">
                    <p><span>@Html.ActionLink("Ваша сторінка", "NavD1", "Home")</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u783" class="ax_default" data-left="237" data-top="95" data-width="293" data-height="40">

            <!-- Unnamed (Shape) -->
            <div id="u784" class="ax_default flow_shape">
                <img id="u784_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                <div id="u784_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u785" class="ax_default flow_shape">
                <img id="u785_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                <div id="u785_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u786" class="ax_default heading_1">
                <div id="u786_div" class=""></div>
                <div id="u786_text" class="text ">
                    <p><span>@Html.ActionLink("Сторінка пацієнта", "NavD2", "Home")</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u787" class="ax_default" data-left="515" data-top="95" data-width="222" data-height="40">

            <!-- Unnamed (Shape) -->
            <div id="u788" class="ax_default flow_shape">
                <img id="u788_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                <div id="u788_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u789" class="ax_default flow_shape">
                <img id="u789_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                <div id="u789_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u790" class="ax_default heading_1">
                <div id="u790_div" class=""></div>
                <div id="u790_text" class="text ">
                    <p><span>Препарати</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u791" class="ax_default box_1">
            <div id="u791_div" class=""></div>
            <div id="u791_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u792" class="ax_default label">
            <div id="u792_div" class=""></div>
            <div id="u792_text" class="text ">
                <p><span>Наступні пацієнти</span></p>
            </div>
        </div>

        <!-- Unnamed (Table) -->
        <div id="u793" class="ax_default">

            <!-- Unnamed (Table Cell) -->
            <div id="u794" class="ax_default table_cell">
                <img id="u794_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u428.png" />
                <div id="u794_text" class="text ">
                    <p><span>Пацієнт</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u795" class="ax_default table_cell">
                <img id="u795_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u429.png" />
                <div id="u795_text" class="text ">
                    <p><span>Дата</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u796" class="ax_default table_cell">
                <img id="u796_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u430.png" />
                <div id="u796_text" class="text ">
                    <p><span>Іванов К.А.</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u797" class="ax_default table_cell">
                <img id="u797_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u431.png" />
                <div id="u797_text" class="text ">
                    <p><span>28.05.2020</span></p><p><span>9:00</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u798" class="ax_default table_cell">
                <img id="u798_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u430.png" />
                <div id="u798_text" class="text ">
                    <p><span>Астрарх Г.О</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u799" class="ax_default table_cell">
                <img id="u799_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u431.png" />
                <div id="u799_text" class="text ">
                    <p><span>28.05.2020</span></p><p><span>10:30</span></p>
                </div>
            </div>

            <!-- pro1 (Table Cell) -->
            <div id="u800" class="ax_default table_cell" data-label="pro1">
                <img id="u800_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u430.png" />
                <div id="u800_text" class="text ">
                    <p><span>Черненько М.П.</span></p>
                </div>
            </div>

            <!-- pro2 (Table Cell) -->
            <div id="u801" class="ax_default table_cell" data-label="pro2">
                <img id="u801_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u431.png" />
                <div id="u801_text" class="text ">
                    <p><span>28.05.2020</span></p><p><span>12:00</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u802" class="ax_default table_cell">
                <img id="u802_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u436.png" />
                <div id="u802_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u803" class="ax_default table_cell">
                <img id="u803_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u437.png" />
                <div id="u803_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u804" class="ax_default primary_button">
            <div id="u804_div" class=""></div>
            <div id="u804_text" class="text ">
                <p><span>Назначити</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u805" class="ax_default" data-left="49" data-top="1048" data-width="125" data-height="45">

            <!-- Unnamed (Rectangle) -->
            <div id="u806" class="ax_default button">
                <div id="u806_div" class=""></div>
                <div id="u806_text" class="text ">
                    <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Назад", "NavD2", "Home")</span></p>
                </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u807" class="ax_default arrow">
                <img id="u807_img" class="img " src="~/Content/images/реєстрація/u178.svg" />
                <div id="u807_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u808" class="ax_default label">
            <div id="u808_div" class=""></div>
            <div id="u808_text" class="text ">
                <p><span>Список препаратів, які приймає пацієнт:</span></p>
            </div>
        </div>

        <!-- name (Text Field) -->
        <div id="u809" class="ax_default text_field" data-label="name">
            <div id="u809_div" class=""></div>
            <input id="u809_input" type="text" value="" class="u809_input" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u810" class="ax_default label">
            <div id="u810_div" class=""></div>
            <div id="u810_text" class="text ">
                <p><span>Дата назначення:</span></p>
            </div>
        </div>

        <!-- name2 (Text Field) -->
        <div id="u811" class="ax_default text_field" data-label="name2">
            <div id="u811_div" class=""></div>
            <input id="u811_input" type="text" value="" class="u811_input" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u812" class="ax_default label">
            <div id="u812_div" class=""></div>
            <div id="u812_text" class="text ">
                <p><span>Дата закінчення:</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u813" class="ax_default label">
            <div id="u813_div" class=""></div>
            <div id="u813_text" class="text ">
                <p><span>Назва препарату:</span></p>
            </div>
        </div>

        <!-- Searchbox (Text Field) -->
        <div id="u814" class="ax_default text_field" data-label="Searchbox">
            <div id="u814_div" class=""></div>
            <input id="u814_input" type="text" value="" class="u814_input" />
        </div>

        <!-- Search (Repeater) -->
        <div id="u815" class="ax_default" data-label="Search">
            <script id="u815_script" type="axure-repeater-template" data-label="Search">

                <!-- Unnamed (Rectangle) -->
                <div id="u816" class="ax_default shape1 u816">
                    <div id="u816_div" class="u816_div"></div>
                    <div id="u816_text" class="text u816_text">
                        <p><span>Predictive search result</span></p>
                    </div>
                </div>
            </script>
            <div id="u815-1" class="preeval" style="width: 349px; height: 30px;">

                <!-- Unnamed (Rectangle) -->
                <div id="u816-1" class="ax_default shape1 u816" style="width: 349px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                    <div id="u816-1_div" class="u816_div" style="width: 349px; height: 30px;visibility: inherit"></div>
                    <div id="u816-1_text" class="text u816_text" style="visibility: inherit">
                        <p><span>Зипелор</span></p>
                    </div>
                </div>
            </div>
            <div id="u815-2" class="preeval" style="width: 349px; height: 30px;">

                <!-- Unnamed (Rectangle) -->
                <div id="u816-2" class="ax_default shape1 u816" style="width: 349px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                    <div id="u816-2_div" class="u816_div" style="width: 349px; height: 30px;visibility: inherit"></div>
                    <div id="u816-2_text" class="text u816_text" style="visibility: inherit">
                        <p><span>Аскорутин</span></p>
                    </div>
                </div>
            </div>
            <div id="u815-3" class="preeval" style="width: 349px; height: 30px;">

                <!-- Unnamed (Rectangle) -->
                <div id="u816-3" class="ax_default shape1 u816" style="width: 349px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                    <div id="u816-3_div" class="u816_div" style="width: 349px; height: 30px;visibility: inherit"></div>
                    <div id="u816-3_text" class="text u816_text" style="visibility: inherit">
                        <p><span>Антитусин</span></p>
                    </div>
                </div>
            </div>
            <div id="u815-4" class="preeval" style="width: 349px; height: 30px;">

                <!-- Unnamed (Rectangle) -->
                <div id="u816-4" class="ax_default shape1 u816" style="width: 349px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                    <div id="u816-4_div" class="u816_div" style="width: 349px; height: 30px;visibility: inherit"></div>
                    <div id="u816-4_text" class="text u816_text" style="visibility: inherit">
                        <p><span>Юнифам</span></p>
                    </div>
                </div>
            </div>
            <div id="u815-5" class="preeval" style="width: 349px; height: 30px;">

                <!-- Unnamed (Rectangle) -->
                <div id="u816-5" class="ax_default shape1 u816" style="width: 349px; height: 30px; left: 0px; top: 0px;visibility: inherit">
                    <div id="u816-5_div" class="u816_div" style="width: 349px; height: 30px;visibility: inherit"></div>
                    <div id="u816-5_text" class="text u816_text" style="visibility: inherit">
                        <p><span>Валер'яна</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u817" class="ax_default label">
            <div id="u817_div" class=""></div>
            <div id="u817_text" class="text ">
                <p><span>Назначення препаратів</span></p>
            </div>
        </div>

        <!-- Unnamed (Table) -->
        <div id="u818" class="ax_default">

            <!-- Unnamed (Table Cell) -->
            <div id="u819" class="ax_default table_cell">
                <img id="u819_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u374.png" />
                <div id="u819_text" class="text ">
                    <p><span>Назва препарату</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u820" class="ax_default table_cell">
                <img id="u820_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u374.png" />
                <div id="u820_text" class="text ">
                    <p><span>Дата назначення</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u821" class="ax_default table_cell">
                <img id="u821_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u376.png" />
                <div id="u821_text" class="text ">
                    <p><span>Дата закінчення</span></p>
                </div>
            </div>

            <!-- t1 (Table Cell) -->
            <div id="u822" class="ax_default table_cell" data-label="t1">
                <img id="u822_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u822_text" class="text ">
                    <p><span>Горлоспас</span></p>
                </div>
            </div>

            <!-- t2 (Table Cell) -->
            <div id="u823" class="ax_default table_cell" data-label="t2">
                <img id="u823_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u823_text" class="text ">
                    <p><span>20.08.2019</span></p>
                </div>
            </div>

            <!-- t3 (Table Cell) -->
            <div id="u824" class="ax_default table_cell" data-label="t3">
                <img id="u824_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u824_text" class="text ">
                    <p><span>29.08.2019</span></p>
                </div>
            </div>

            <!-- t4 (Table Cell) -->
            <div id="u825" class="ax_default table_cell" data-label="t4">
                <img id="u825_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u825_text" class="text ">
                    <p><span>Ношпа</span></p>
                </div>
            </div>

            <!-- t5 (Table Cell) -->
            <div id="u826" class="ax_default table_cell" data-label="t5">
                <img id="u826_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u826_text" class="text ">
                    <p><span>12.12.2019</span></p>
                </div>
            </div>

            <!-- t6 (Table Cell) -->
            <div id="u827" class="ax_default table_cell" data-label="t6">
                <img id="u827_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u827_text" class="text ">
                    <p><span>26.12.2019</span></p>
                </div>
            </div>

            <!-- t7 (Table Cell) -->
            <div id="u828" class="ax_default table_cell" data-label="t7">
                <img id="u828_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u828_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- t8 (Table Cell) -->
            <div id="u829" class="ax_default table_cell" data-label="t8">
                <img id="u829_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u829_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- t9 (Table Cell) -->
            <div id="u830" class="ax_default table_cell" data-label="t9">
                <img id="u830_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u830_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u831" class="ax_default table_cell">
                <img id="u831_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u831_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u832" class="ax_default table_cell">
                <img id="u832_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u832_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u833" class="ax_default table_cell">
                <img id="u833_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u833_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u834" class="ax_default table_cell">
                <img id="u834_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u834_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u835" class="ax_default table_cell">
                <img id="u835_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u835_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u836" class="ax_default table_cell">
                <img id="u836_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u836_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u837" class="ax_default table_cell">
                <img id="u837_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u837_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u838" class="ax_default table_cell">
                <img id="u838_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u838_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u839" class="ax_default table_cell">
                <img id="u839_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u839_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u840" class="ax_default table_cell">
                <img id="u840_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u395.png" />
                <div id="u840_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u841" class="ax_default table_cell">
                <img id="u841_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u395.png" />
                <div id="u841_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u842" class="ax_default table_cell">
                <img id="u842_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u397.png" />
                <div id="u842_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u843" class="ax_default button">
            <div id="u843_div" class=""></div>
            <div id="u843_text" class="text ">
                <p><span>Докладніше</span></p>
            </div>
        </div>

        <!-- show (Rectangle) -->
        <div id="u844" class="ax_default box_2 ax_default_hidden" data-label="show" style="display:none; visibility: hidden">
            <div id="u844_div" class=""></div>
            <div id="u844_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- M2 (Dynamic Panel) -->
        <div id="u845" class="ax_default ax_default_hidden" data-label="M2" style="display:none; visibility: hidden">
            <div id="u845_state0" class="panel_state" data-label="State1" style="">
                <div id="u845_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u846" class="ax_default">
                        <div id="u846_state0" class="panel_state" data-label="State1" style="">
                            <div id="u846_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u847" class="ax_default">
                        <div id="u847_state0" class="panel_state" data-label="State1" style="">
                            <div id="u847_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u848" class="ax_default label">
                                    <div id="u848_div" class=""></div>
                                    <div id="u848_text" class="text ">
                                        <p><span>Всередину.</span></p><p><span>Дорослі. За 1-2 табл. на один прийом 2-3 рази на день. Максимальна добова доза - 6 табл. (Що відповідає 240 мг).</span></p><p><span>Діти. Клінічні дослідження по застосуванню дротаверина у дітей не проводилися.</span></p><p><span>У разі призначення дротаверина дітям:</span></p><p><span>- для дітей 6-12 років по 1 табл. на один прийом 1-2 рази на день. Максимальна добова доза - 2 табл. (Що відповідає 80 мг).</span></p><p><span>- для дітей старше 12 років по 1 табл. на один прийом 1-4 рази на день або по 2 табл. на один прийом 1-2 рази на день. Максимальна добова доза - 4 табл. (Що відповідає 160 мг).</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- M1 (Dynamic Panel) -->
        <div id="u849" class="ax_default ax_default_hidden" data-label="M1" style="display:none; visibility: hidden">
            <div id="u849_state0" class="panel_state" data-label="State1" style="">
                <div id="u849_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u850" class="ax_default">
                        <div id="u850_state0" class="panel_state" data-label="State1" style="">
                            <div id="u850_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u851" class="ax_default">
                        <div id="u851_state0" class="panel_state" data-label="State1" style="">
                            <div id="u851_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u852" class="ax_default label">
                                    <div id="u852_div" class=""></div>
                                    <div id="u852_text" class="text ">
                                        <p><span>Спрей дозований. відновлення і захист фізіологічних функцій слизової оболонки порожнини рота профілактика інфекцій порожнини рота, в тому числі грипу допоміжний засіб в комплексній терапії запальних процесів в порожнині рота усунення відчуття дискомфорту і сухості в роті</span></p><p><span>Активні компоненти: ізотонічний розчин очищеної морської води іони активного срібла екстракт шавлії екстракт календули ефірне масло евкаліпта ментол хлоргексидину біглюконат</span></p><p><span>СПОСІБ ЗАСТОСУВАННЯ: для відновлення функцій слизової оболонки порожнини рота - 4-6 разів на добу по 2 впорскування. Для профілактики інфекцій - 3-4 рази на добу по 1-2 впорскування. ОБСЯГ: 45 мл.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- M0 (Dynamic Panel) -->
        <div id="u853" class="ax_default ax_default_hidden" data-label="M0" style="display:none; visibility: hidden">
            <div id="u853_state0" class="panel_state" data-label="State1" style="">
                <div id="u853_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u854" class="ax_default">
                        <div id="u854_state0" class="panel_state" data-label="State1" style="">
                            <div id="u854_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u855" class="ax_default">
                        <div id="u855_state0" class="panel_state" data-label="State1" style="">
                            <div id="u855_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u856" class="ax_default label">
                                    <div id="u856_div" class=""></div>
                                    <div id="u856_text" class="text ">
                                        <p><span>Виберіть препарат для докладної інформації!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- M3 (Dynamic Panel) -->
        <div id="u857" class="ax_default ax_default_hidden" data-label="M3" style="display:none; visibility: hidden">
            <div id="u857_state0" class="panel_state" data-label="State1" style="">
                <div id="u857_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u858" class="ax_default">
                        <div id="u858_state0" class="panel_state" data-label="State1" style="">
                            <div id="u858_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u859" class="ax_default">
                        <div id="u859_state0" class="panel_state" data-label="State1" style="">
                            <div id="u859_state0_content" class="panel_state_content">

                                <!-- tm3 (Rectangle) -->
                                <div id="u860" class="ax_default label" data-label="tm3">
                                    <div id="u860_div" class=""></div>
                                    <div id="u860_text" class="text ">
                                        <p><span>Підсилює дію снодійних, анксіолітичних, анальгезирующих і седативних засобів. Препарат можна комбінувати з кардіотонічними і гіпотензивними засобами.</span></p><p><span>Не відмічено випадків негативного лікарського взаємодії при призначенні препарату на тлі терапії іншими ЛЗ, включеними в загальноприйняті схеми лікування захворювань серцево-судинної системи і шлунково-кишкового тракту.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message2 (Dynamic Panel) -->
        <div id="u861" class="ax_default ax_default_hidden" data-label="Message2" style="display:none; visibility: hidden">
            <div id="u861_state0" class="panel_state" data-label="State1" style="">
                <div id="u861_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u862" class="ax_default">
                        <div id="u862_state0" class="panel_state" data-label="State1" style="">
                            <div id="u862_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u863" class="ax_default">
                        <div id="u863_state0" class="panel_state" data-label="State1" style="">
                            <div id="u863_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u864" class="ax_default label">
                                    <div id="u864_div" class=""></div>
                                    <div id="u864_text" class="text ">
                                        <p><span>Будь ласка, заповніть всі поля!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/resources/scripts/axure/ios.js"></script>
</body>
</html>
