@{
    ViewBag.Title = "Home Page";
}

<html>
    <head>
        <title>Вхід</title>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="~/Content/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/data/styles.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/files/вхід/styles.css" type="text/css" rel="stylesheet" />
        <script src="~/Content/resources/scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Content/resources/scripts/axure/axQuery.js"></script>
        <script src="~/Content/resources/scripts/axure/globals.js"></script>
        <script src="~/Content/resources/scripts/axutils.js"></script>
        <script src="~/Content/resources/scripts/axure/annotation.js"></script>
        <script src="~/Content/resources/scripts/axure/axQuery.std.js"></script>
        <script src="~/Content/resources/scripts/axure/doc.js"></script>
        <script src="~/Content/resources/scripts/messagecenter.js"></script>
        <script src="~/Content/resources/scripts/axure/events.js"></script>
        <script src="~/Content/resources/scripts/axure/recording.js"></script>
        <script src="~/Content/resources/scripts/axure/action.js"></script>
        <script src="~/Content/resources/scripts/axure/expr.js"></script>
        <script src="~/Content/resources/scripts/axure/geometry.js"></script>
        <script src="~/Content/resources/scripts/axure/flyout.js"></script>
        <script src="~/Content/resources/scripts/axure/model.js"></script>
        <script src="~/Content/resources/scripts/axure/repeater.js"></script>
        <script src="~/Content/resources/scripts/axure/sto.js"></script>
        <script src="~/Content/resources/scripts/axure/utils.temp.js"></script>
        <script src="~/Content/resources/scripts/axure/variables.js"></script>
        <script src="~/Content/resources/scripts/axure/drag.js"></script>
        <script src="~/Content/resources/scripts/axure/move.js"></script>
        <script src="~/Content/resources/scripts/axure/visibility.js"></script>
        <script src="~/Content/resources/scripts/axure/style.js"></script>
        <script src="~/Content/resources/scripts/axure/adaptive.js"></script>
        <script src="~/Content/resources/scripts/axure/tree.js"></script>
        <script src="~/Content/resources/scripts/axure/init.temp.js"></script>
        <script src="~/Content/resources/scripts/axure/legacy.js"></script>
        <script src="~/Content/resources/scripts/axure/viewer.js"></script>
        <script src="~/Content/resources/scripts/axure/math.js"></script>
        <script src="~/Content/resources/scripts/axure/jquery.nicescroll.min.js"></script>
        <script src="~/Content/data/document.js"></script>
        <script src="~/Content/files/вхід/data.js"></script>
        <script type="text/javascript">
            $axure.utils.getTransparentGifPath = function () { return '~/Content/resources/images/transparent.gif'; };
            $axure.utils.getOtherPath = function () { return '~/Content/resources/Other.html'; };
            $axure.utils.getReloadPath = function () { return '~/Content/resources/reload.html'; };
        </script>
    </head>
    <body>
        <div id="base" class="">


            <!-- Message (Dynamic Panel) -->
            <div id="u0" class="ax_default ax_default_hidden" data-label="Message" style="display:none; visibility: hidden">
                <div id="u0_state0" class="panel_state" data-label="State1" style="">
                    <div id="u0_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u1" class="ax_default">
                            <div id="u1_state0" class="panel_state" data-label="State1" style="">
                                <div id="u1_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u2" class="ax_default">
                            <div id="u2_state0" class="panel_state" data-label="State1" style="">
                                <div id="u2_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u3" class="ax_default label">
                                        <div id="u3_div" class=""></div>
                                        <div id="u3_text" class="text ">
                                            <p><span>Будь ласка, введіть правильний</span></p><p><span>логін і/або пароль!</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="u4" style="display:none; visibility:hidden;"></div>

            <!-- Unnamed (Rectangle) -->
            <div id="u9" class="ax_default box_1">
                <div id="u9_div" class=""></div>
                <div id="u9_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
            <form method="post" action="/Home/Open">
                <!-- login (Text Field) -->
                <div id="u10" class="ax_default text_field" data-label="login">
                    <div id="u10_div" class=""></div>
                    <input id="u10_input" type="text" name="Log" class="u10_input" />
                </div>

                <!-- password (Text Field) -->
                <div id="u11" class="ax_default text_field" data-label="password">
                    <div id="u11_div" class=""></div>
                    <input id="u11_input" type="password" name="Pass" class="u11_input" />
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u14" class="ax_default button">
                    <div id="u14_text" class="text ">
                        <p><input type="submit" value="Увійти" /></p>
                    </div>
                </div>
            </form>

            <!-- Unnamed (Rectangle) -->
            <div id="u12" class="ax_default label">
                <div id="u12_div" class=""></div>
                <div id="u12_text" class="text ">
                    <p><span>Логін:</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u13" class="ax_default label">
                <div id="u13_div" class=""></div>
                <div id="u13_text" class="text ">
                    <p><span>Пароль:</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u15" class="ax_default link_button">
                <div id="u15_div" class=""></div>
                <div id="u15_text" class="text ">
                    <p><span>@Html.ActionLink("Зареєструватися", "Regist", "Home")</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u16" class="ax_default label">
                <div id="u16_div" class=""></div>
                <div id="u16_text" class="text ">
                    <p><span>Вхід</span></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u17" class="ax_default image">
                <img id="u17_img" class="img " src="~/Content/images/вхід/u17.png" />
                <div id="u17_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u18" class="ax_default box_1">
                <div id="u18_div" class=""></div>
                <div id="u18_text" class="text ">
                    <p><span>Вас вітає &quot;Програма медичного обслуговування&quot;!&nbsp; Вона створена з метою облегшить життя людей з обмеженими можливостями та дати можливість зекономити багато часу. За допомогою цього сервісу вам не потрібно витрачати час на стояння в черзі, на відвідування лікарні, на очікування лікаря. Сервіс надає можливість зменшути ризик захворіти в лікарні, надати додаткову інформацію (наприклад, перегляд медичної картки вдома), ви будете більше знаходиться в зоні комфорту, ніж без цього сервісу.</span></p>

                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u19" class="ax_default image">
                <img id="u19_img" class="img " src="~/Content/images/вхід/u19.png" />
                <div id="u19_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u20" class="ax_default box_1">
                <div id="u20_div" class=""></div>
                <div id="u20_text" class="text ">
                    <p><span>ПРО НАС</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u21" class="ax_default label">
                <div id="u21_div" class=""></div>
                <div id="u21_text" class="text ">
                    <p><span>Новини</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u22" class="ax_default label">
                <div id="u22_div" class=""></div>
                <div id="u22_text" class="text ">
                    <p style="font-size:26px;text-align:center;"><span>02.05.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна<p style="font-size:24px;text-align:left;">деяких функцій на </p><p style="font-size:24px;text-align:left;">сторінці пацієнта.</p></span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u23" class="ax_default label">
                <div id="u23_div" class=""></div>
                <div id="u23_text" class="text ">
                    <p style="font-size:26px;text-align:center;"><span>14.04.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна<p style="font-size:24px;text-align:left;">деяких функцій на </p><p style="font-size:24px;text-align:left;">сторінці пацієнта.</p></span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u24" class="ax_default label">
                <div id="u24_div" class=""></div>
                <div id="u24_text" class="text ">
                    <p style="font-size:26px;text-align:center;"><span>29.03.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна<p style="font-size:24px;text-align:left;">деяких функцій на </p><p style="font-size:24px;text-align:left;">сторінці пацієнта.</p></span></p>
                </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u33" class="ax_default icon">
                <img id="u33_img" class="img " src="~/Content/images/вхід/u32.svg" />
                <div id="u33_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
            <div id="u25" style="display:none; visibility:hidden;"></div>
        </div>
        <script src="~/Content/resources/scripts/axure/ios.js"></script>
        <div id="u26" class="ax_default">
            <div id="u26_state0" class="panel_state" data-label="State1" style="">
                <div id="u26_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u27" class="ax_default heading_1">
                        <div id="u27_div" class=""></div>
                        <div id="u27_text" class="text ">
                            <p><span>©2020 Всі права захищені</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u28" class="ax_default heading_1">
                        <div id="u28_div" class=""></div>
                        <div id="u28_text" class="text ">
                            <p><span>Контакти</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u29" class="ax_default heading_1">
                        <div id="u29_div" class=""></div>
                        <div id="u29_text" class="text ">
                            <p><span>Мобільний телефон: 095 000 61 83</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u30" class="ax_default heading_1">
                        <div id="u30_div" class=""></div>
                        <div id="u30_text" class="text ">
                            <p><span>Електронна почта: likar.servis@gmail.com</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u31" class="ax_default icon">
                        <img id="u31_img" class="img " src="~/Content/images/вхід/u31.svg" />
                        <div id="u31_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u32" class="ax_default icon">
                        <img id="u32_img" class="img " src="~/Content/images/вхід/u32.svg" />
                        <div id="u32_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
    </html>