@{
    Layout = "~/Views/Shared/_Layout7.cshtml";
}

<html>
<head>
    <title>Особистий кабінет пацієнта</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/Content/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/data/styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/files/особистий_кабінет_пацієнта/styles.css" type="text/css" rel="stylesheet" />
    <script src="~/Content/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.js"></script>
    <script src="~/Content/resources/scripts/axure/globals.js"></script>
    <script src="~/Content/resources/scripts/axutils.js"></script>
    <script src="~/Content/resources/scripts/axure/annotation.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.std.js"></script>
    <script src="~/Content/resources/scripts/axure/doc.js"></script>
    <script src="~/Content/resources/scripts/messagecenter.js"></script>
    <script src="~/Content/resources/scripts/axure/events.js"></script>
    <script src="~/Content/resources/scripts/axure/recording.js"></script>
    <script src="~/Content/resources/scripts/axure/action.js"></script>
    <script src="~/Content/resources/scripts/axure/expr.js"></script>
    <script src="~/Content/resources/scripts/axure/geometry.js"></script>
    <script src="~/Content/resources/scripts/axure/flyout.js"></script>
    <script src="~/Content/resources/scripts/axure/model.js"></script>
    <script src="~/Content/resources/scripts/axure/repeater.js"></script>
    <script src="~/Content/resources/scripts/axure/sto.js"></script>
    <script src="~/Content/resources/scripts/axure/utils.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/variables.js"></script>
    <script src="~/Content/resources/scripts/axure/drag.js"></script>
    <script src="~/Content/resources/scripts/axure/move.js"></script>
    <script src="~/Content/resources/scripts/axure/visibility.js"></script>
    <script src="~/Content/resources/scripts/axure/style.js"></script>
    <script src="~/Content/resources/scripts/axure/adaptive.js"></script>
    <script src="~/Content/resources/scripts/axure/tree.js"></script>
    <script src="~/Content/resources/scripts/axure/init.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/legacy.js"></script>
    <script src="~/Content/resources/scripts/axure/viewer.js"></script>
    <script src="~/Content/resources/scripts/axure/math.js"></script>
    <script src="~/Content/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="~/Content/data/document.js"></script>
    <script src="~/Content/files/особистий_кабінет_пацієнта/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () { return '~/Content/resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function () { return '~/Content/resources/Other.html'; };
        $axure.utils.getReloadPath = function () { return '~/Content/resources/reload.html'; };
    </script>
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u372" class="ax_default box_1">
            <div id="u372_div" class=""></div>
            <div id="u372_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Table) -->
        <div id="u373" class="ax_default">

            <!-- Unnamed (Table Cell) -->
            <div id="u374" class="ax_default table_cell">
                <img id="u374_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u374.png" />
                <div id="u374_text" class="text ">
                    <p><span>Захворювання</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u375" class="ax_default table_cell">
                <img id="u375_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u374.png" />
                <div id="u375_text" class="text ">
                    <p><span>Дата початку захворювання</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u376" class="ax_default table_cell">
                <img id="u376_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u376.png" />
                <div id="u376_text" class="text ">
                    <p><span>Дата одужування</span></p>
                </div>
            </div>

            <!-- t1 (Table Cell) -->
            <div id="u377" class="ax_default table_cell" data-label="t1">
                <img id="u377_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u377_text" class="text ">
                    <p><span>Бронхіт</span></p>
                </div>
            </div>

            <!-- t2 (Table Cell) -->
            <div id="u378" class="ax_default table_cell" data-label="t2">
                <img id="u378_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u378_text" class="text ">
                    <p><span>20.08.2019</span></p>
                </div>
            </div>

            <!-- t3 (Table Cell) -->
            <div id="u379" class="ax_default table_cell" data-label="t3">
                <img id="u379_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u379_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- t4 (Table Cell) -->
            <div id="u380" class="ax_default table_cell" data-label="t4">
                <img id="u380_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u380_text" class="text ">
                    <p><span>Бронхіт</span></p>
                </div>
            </div>

            <!-- t5 (Table Cell) -->
            <div id="u381" class="ax_default table_cell" data-label="t5">
                <img id="u381_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u381_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- t6 (Table Cell) -->
            <div id="u382" class="ax_default table_cell" data-label="t6">
                <img id="u382_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u382_text" class="text ">
                    <p><span>29.08.2019</span></p>
                </div>
            </div>

            <!-- t7 (Table Cell) -->
            <div id="u383" class="ax_default table_cell" data-label="t7">
                <img id="u383_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u383_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- t8 (Table Cell) -->
            <div id="u384" class="ax_default table_cell" data-label="t8">
                <img id="u384_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u384_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- t9 (Table Cell) -->
            <div id="u385" class="ax_default table_cell" data-label="t9">
                <img id="u385_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u385_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u386" class="ax_default table_cell">
                <img id="u386_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u386_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u387" class="ax_default table_cell">
                <img id="u387_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u387_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u388" class="ax_default table_cell">
                <img id="u388_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u388_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u389" class="ax_default table_cell">
                <img id="u389_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u389_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u390" class="ax_default table_cell">
                <img id="u390_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u390_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u391" class="ax_default table_cell">
                <img id="u391_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u391_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u392" class="ax_default table_cell">
                <img id="u392_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u392_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u393" class="ax_default table_cell">
                <img id="u393_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                <div id="u393_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u394" class="ax_default table_cell">
                <img id="u394_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                <div id="u394_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u395" class="ax_default table_cell">
                <img id="u395_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u395.png" />
                <div id="u395_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u396" class="ax_default table_cell">
                <img id="u396_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u395.png" />
                <div id="u396_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u397" class="ax_default table_cell">
                <img id="u397_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u397.png" />
                <div id="u397_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u398" class="ax_default button">
            <div id="u398_div" class=""></div>
            <div id="u398_text" class="text ">
                <p><span>Докладніше</span></p>
            </div>
        </div>

        <!-- M1 (Dynamic Panel) -->
        <div id="u399" class="ax_default ax_default_hidden" data-label="M1" style="display:none; visibility: hidden">
            <div id="u399_state0" class="panel_state" data-label="State1" style="">
                <div id="u399_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u400" class="ax_default">
                        <div id="u400_state0" class="panel_state" data-label="State1" style="">
                            <div id="u400_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u401" class="ax_default">
                        <div id="u401_state0" class="panel_state" data-label="State1" style="">
                            <div id="u401_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u402" class="ax_default label">
                                    <div id="u402_div" class=""></div>
                                    <div id="u402_text" class="text ">
                                        <p><span>У пацієнта було виявлено висока температура, частий кашель, погіршення самопочуття, тому йому був поставлений діагноз - бронхіт.</span></p><p><span>Йому були назначені таблетки від кашлю, парацетамол.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message (Dynamic Panel) -->
        <div id="u403" class="ax_default ax_default_hidden" data-label="Message" style="display:none; visibility: hidden">
            <div id="u403_state0" class="panel_state" data-label="State1" style="">
                <div id="u403_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u404" class="ax_default">
                        <div id="u404_state0" class="panel_state" data-label="State1" style="">
                            <div id="u404_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u405" class="ax_default">
                        <div id="u405_state0" class="panel_state" data-label="State1" style="">
                            <div id="u405_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u406" class="ax_default label">
                                    <div id="u406_div" class=""></div>
                                    <div id="u406_text" class="text ">
                                        <p><span>Ви успішно визвали лікаря!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Message2 (Dynamic Panel) -->
        <div id="u407" class="ax_default ax_default_hidden" data-label="Message2" style="display:none; visibility: hidden">
            <div id="u407_state0" class="panel_state" data-label="State1" style="">
                <div id="u407_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u408" class="ax_default">
                        <div id="u408_state0" class="panel_state" data-label="State1" style="">
                            <div id="u408_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u409" class="ax_default">
                        <div id="u409_state0" class="panel_state" data-label="State1" style="">
                            <div id="u409_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u410" class="ax_default label">
                                    <div id="u410_div" class=""></div>
                                    <div id="u410_text" class="text ">
                                        <p><span>Ви вже визвали лікаря, чекайте його!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- M2 (Dynamic Panel) -->
        <div id="u421" class="ax_default ax_default_hidden" data-label="M2" style="display:none; visibility: hidden">
            <div id="u421_state0" class="panel_state" data-label="State1" style="">
                <div id="u421_state0_content" class="panel_state_content">

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u422" class="ax_default">
                        <div id="u422_state0" class="panel_state" data-label="State1" style="">
                            <div id="u422_state0_content" class="panel_state_content">
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Dynamic Panel) -->
                    <div id="u423" class="ax_default">
                        <div id="u423_state0" class="panel_state" data-label="State1" style="">
                            <div id="u423_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u424" class="ax_default label">
                                    <div id="u424_div" class=""></div>
                                    <div id="u424_text" class="text ">
                                        <p><span>У пацієнта не було виявлено високої температури, кашлю, тому він вихворівся від бронхіту. Цей діагноз знімається з нього.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u425" class="ax_default box_1">
            <div id="u425_div" class=""></div>
            <div id="u425_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u426" class="ax_default label">
            <div id="u426_div" class=""></div>
            <div id="u426_text" class="text ">
                <p><span>Призначення до лікарів</span></p>
            </div>
        </div>

        <!-- Unnamed (Table) -->
        <div id="u427" class="ax_default">

            <!-- Unnamed (Table Cell) -->
            <div id="u428" class="ax_default table_cell">
                <img id="u428_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u428.png" />
                <div id="u428_text" class="text ">
                    <p><span>Лікар</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u429" class="ax_default table_cell">
                <img id="u429_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u429.png" />
                <div id="u429_text" class="text ">
                    <p><span>Дата</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u430" class="ax_default table_cell">
                <img id="u430_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u430.png" />
                <div id="u430_text" class="text ">
                    <p><span>@ViewBag.DP1</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u431" class="ax_default table_cell">
                <img id="u431_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u431.png" />
                <div id="u431_text" class="text ">
                    <p><span>@ViewBag.DT1</span></p><p><span>@ViewBag.DT2</span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u432" class="ax_default table_cell">
                <img id="u432_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u430.png" />
                <div id="u432_text" class="text ">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u433" class="ax_default table_cell">
                <img id="u433_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u431.png" />
                <div id="u433_text" class="text ">
                    <p><span></span></p><p><span></span></p>
                </div>
            </div>

            <!-- pro1 (Table Cell) -->
            <div id="u434" class="ax_default table_cell" data-label="pro1">
                <img id="u434_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u430.png" />
                <div id="u434_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- pro2 (Table Cell) -->
            <div id="u435" class="ax_default table_cell" data-label="pro2">
                <img id="u435_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u431.png" />
                <div id="u435_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u436" class="ax_default table_cell">
                <img id="u436_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u436.png" />
                <div id="u436_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Table Cell) -->
            <div id="u437" class="ax_default table_cell">
                <img id="u437_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u437.png" />
                <div id="u437_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Master 1) -->
        <!-- Unnamed (Dynamic Panel) -->
        <div id="u439" class="ax_default">
            <div id="u439_state0" class="panel_state" data-label="State1" style="">
                <div id="u439_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u440" class="ax_default heading_1">
                        <div id="u440_div" class=""></div>
                        <div id="u440_text" class="text ">
                            <p><span>©2020 Всі права захищені!</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u441" class="ax_default heading_1">
                        <div id="u441_div" class=""></div>
                        <div id="u441_text" class="text ">
                            <p><span>Контакти</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u442" class="ax_default heading_1">
                        <div id="u442_div" class=""></div>
                        <div id="u442_text" class="text ">
                            <p><span>Мобільний телефон: 095 000 61 83</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u443" class="ax_default heading_1">
                        <div id="u443_div" class=""></div>
                        <div id="u443_text" class="text ">
                            <p><span>Електронна почта: likar.servis@gmail.com</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u444" class="ax_default icon">
                        <img id="u444_img" class="img " src="~/Content/images/вхід/u31.svg" />
                        <div id="u444_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Shape) -->
                    <div id="u445" class="ax_default icon">
                        <img id="u445_img" class="img " src="~/Content/images/вхід/u32.svg" />
                        <div id="u445_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Unnamed (Rectangle) -->
        <div id="u447" class="ax_default box_1">
            <div id="u447_div" class=""></div>
            <div id="u447_text" class="text ">
                <p><span>Медична картка</span></p>
            </div>
        </div>
        <form method="post" action="/Home/Call">
            <!-- Unnamed (Rectangle) -->
            <div id="u448" class="ax_default button">
                <div id="u448_div" class=""></div>
                <div id="u448_text" class="text ">
                    <p><input type="submit" value="Визвати лікаря" /></p>
                </div>
            </div>
        </form>

            <!-- Unnamed (Rectangle) -->
            <div id="u449" class="ax_default button">
                <div id="u449_div" class=""></div>
                <div id="u449_text" class="text ">
                    <p><span>@Html.ActionLink("Зміна декларації", "Change", "Home")</span></p>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u450" class="ax_default" data-left="1091" data-top="604" data-width="16" data-height="16">

                <!-- Unnamed (Shape) -->
                <div id="u451" class="ax_default icon">
                    <img id="u451_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u451.svg" />
                    <div id="u451_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u452" class="ax_default icon">
                    <img id="u452_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u452.svg" />
                    <div id="u452_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u453" class="ax_default" data-left="1091" data-top="675" data-width="16" data-height="16">

                <!-- Unnamed (Shape) -->
                <div id="u454" class="ax_default icon">
                    <img id="u454_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u451.svg" />
                    <div id="u454_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u455" class="ax_default icon">
                    <img id="u455_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u452.svg" />
                    <div id="u455_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Mess1 (Dynamic Panel) -->
            <div id="u456" class="ax_default ax_default_hidden" data-label="Mess1" style="display:none; visibility: hidden">
                <div id="u456_state0" class="panel_state" data-label="State1" style="">
                    <div id="u456_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u457" class="ax_default">
                            <div id="u457_state0" class="panel_state" data-label="State1" style="">
                                <div id="u457_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u458" class="ax_default label">
                                        <div id="u458_div" class=""></div>
                                        <div id="u458_text" class="text ">
                                            <p><span>Ця кнопка призначена для виклику лікаря на дім</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mess2 (Dynamic Panel) -->
            <div id="u459" class="ax_default ax_default_hidden" data-label="Mess2" style="display:none; visibility: hidden">
                <div id="u459_state0" class="panel_state" data-label="State1" style="">
                    <div id="u459_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u460" class="ax_default">
                            <div id="u460_state0" class="panel_state" data-label="State1" style="">
                                <div id="u460_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u461" class="ax_default label">
                                        <div id="u461_div" class=""></div>
                                        <div id="u461_text" class="text ">
                                            <p><span>Перехід на сторінку подачі заяви про зміну декларації</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- show (Rectangle) -->
            <!-- M0 (Dynamic Panel) -->
            <div id="u463" class="ax_default ax_default_hidden" data-label="M0" style="display:none; visibility: hidden">
                <div id="u463_state0" class="panel_state" data-label="State1" style="">
                    <div id="u463_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u464" class="ax_default">
                            <div id="u464_state0" class="panel_state" data-label="State1" style="">
                                <div id="u464_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u465" class="ax_default">
                            <div id="u465_state0" class="panel_state" data-label="State1" style="">
                                <div id="u465_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u466" class="ax_default label">
                                        <div id="u466_div" class=""></div>
                                        <div id="u466_text" class="text ">
                                            <p><span>Виберіть хворобу в медичній картці для докладної інформації!</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u467" class="ax_default label">
                <div id="u467_div" class=""></div>
                <div id="u467_text" class="text ">
                    <p><span>Новини</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u468" class="ax_default label">
                <div id="u468_div" class=""></div>
                <div id="u468_text" class="text ">
                    <p style="font-size:26px;text-align:center;"><span>02.05.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна деяких функцій на сторінці пацієнта.</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u469" class="ax_default label">
                <div id="u469_div" class=""></div>
                <div id="u469_text" class="text ">
                    <p style="font-size:26px;text-align:center;"><span>14.04.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була доповнені деякі функції на сторінці адміністратора.</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u470" class="ax_default label">
                <div id="u470_div" class=""></div>
                <div id="u470_text" class="text ">
                    <p style="font-size:26px;text-align:center;"><span>29.03.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна деяких функцій на сторінці лікаря.</span></p>
                </div>
            </div>

            <!-- M3 (Dynamic Panel) -->
            <div id="u471" class="ax_default ax_default_hidden" data-label="M3" style="display:none; visibility: hidden">
                <div id="u471_state0" class="panel_state" data-label="State1" style="">
                    <div id="u471_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u472" class="ax_default">
                            <div id="u472_state0" class="panel_state" data-label="State1" style="">
                                <div id="u472_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u473" class="ax_default">
                            <div id="u473_state0" class="panel_state" data-label="State1" style="">
                                <div id="u473_state0_content" class="panel_state_content">

                                    <!-- tm3 (Rectangle) -->
                                    <div id="u474" class="ax_default label" data-label="tm3">
                                        <div id="u474_div" class=""></div>
                                        <div id="u474_text" class="text " style="display:none; visibility: hidden">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Table) -->
            <div id="u475" class="ax_default">

                <!-- Unnamed (Table Cell) -->
                <div id="u476" class="ax_default table_cell">
                    <img id="u476_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u374.png" />
                    <div id="u476_text" class="text ">
                        <p><span>Назва препарату</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u477" class="ax_default table_cell">
                    <img id="u477_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u374.png" />
                    <div id="u477_text" class="text ">
                        <p><span>Дата назначення</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u478" class="ax_default table_cell">
                    <img id="u478_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u376.png" />
                    <div id="u478_text" class="text ">
                        <p><span>Дата закінчення</span></p>
                    </div>
                </div>

                <!-- t1 (Table Cell) -->
                <div id="u479" class="ax_default table_cell" data-label="t1">
                    <img id="u479_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u479_text" class="text ">
                        <p><span>Горлоспас</span></p>
                    </div>
                </div>

                <!-- t2 (Table Cell) -->
                <div id="u480" class="ax_default table_cell" data-label="t2">
                    <img id="u480_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u480_text" class="text ">
                        <p><span>20.08.2019</span></p>
                    </div>
                </div>

                <!-- t3 (Table Cell) -->
                <div id="u481" class="ax_default table_cell" data-label="t3">
                    <img id="u481_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                    <div id="u481_text" class="text ">
                        <p><span>29.08.2019</span></p>
                    </div>
                </div>

                <!-- t4 (Table Cell) -->
                <div id="u482" class="ax_default table_cell" data-label="t4">
                    <img id="u482_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u482_text" class="text ">
                        <p><span>Ношпа</span></p>
                    </div>
                </div>

                <!-- t5 (Table Cell) -->
                <div id="u483" class="ax_default table_cell" data-label="t5">
                    <img id="u483_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u483_text" class="text ">
                        <p><span>12.12.2019</span></p>
                    </div>
                </div>

                <!-- t6 (Table Cell) -->
                <div id="u484" class="ax_default table_cell" data-label="t6">
                    <img id="u484_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                    <div id="u484_text" class="text ">
                        <p><span>26.12.2019</span></p>
                    </div>
                </div>

                <!-- t7 (Table Cell) -->
                <div id="u485" class="ax_default table_cell" data-label="t7">
                    <img id="u485_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u485_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- t8 (Table Cell) -->
                <div id="u486" class="ax_default table_cell" data-label="t8">
                    <img id="u486_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u486_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- t9 (Table Cell) -->
                <div id="u487" class="ax_default table_cell" data-label="t9">
                    <img id="u487_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                    <div id="u487_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u488" class="ax_default table_cell">
                    <img id="u488_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u488_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u489" class="ax_default table_cell">
                    <img id="u489_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u489_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u490" class="ax_default table_cell">
                    <img id="u490_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                    <div id="u490_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u491" class="ax_default table_cell">
                    <img id="u491_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u491_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u492" class="ax_default table_cell">
                    <img id="u492_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u492_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u493" class="ax_default table_cell">
                    <img id="u493_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                    <div id="u493_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u494" class="ax_default table_cell">
                    <img id="u494_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u494_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u495" class="ax_default table_cell">
                    <img id="u495_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t1_u377.png" />
                    <div id="u495_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u496" class="ax_default table_cell">
                    <img id="u496_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/t3_u379.png" />
                    <div id="u496_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u497" class="ax_default table_cell">
                    <img id="u497_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u395.png" />
                    <div id="u497_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u498" class="ax_default table_cell">
                    <img id="u498_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u395.png" />
                    <div id="u498_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u499" class="ax_default table_cell">
                    <img id="u499_img" class="img " src="~/Content/images/особистий_кабінет_пацієнта/u397.png" />
                    <div id="u499_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u500" class="ax_default button">
                <div id="u500_div" class=""></div>
                <div id="u500_text" class="text ">
                    <p><span>Докладніше</span></p>
                </div>
            </div>


            <!-- M2 (Dynamic Panel) -->
            <div id="u502" class="ax_default ax_default_hidden" data-label="M2" style="display:none; visibility: hidden">
                <div id="u502_state0" class="panel_state" data-label="State1" style="">
                    <div id="u502_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u503" class="ax_default">
                            <div id="u503_state0" class="panel_state" data-label="State1" style="">
                                <div id="u503_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u504" class="ax_default">
                            <div id="u504_state0" class="panel_state" data-label="State1" style="">
                                <div id="u504_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u505" class="ax_default label">
                                        <div id="u505_div" class=""></div>
                                        <div id="u505_text" class="text ">
                                            <p><span>Всередину.</span></p><p><span>Дорослі. За 1-2 табл. на один прийом 2-3 рази на день. Максимальна добова доза - 6 табл. (Що відповідає 240 мг).</span></p><p><span>Діти. Клінічні дослідження по застосуванню дротаверина у дітей не проводилися.</span></p><p><span>У разі призначення дротаверина дітям:</span></p><p><span>- для дітей 6-12 років по 1 табл. на один прийом 1-2 рази на день. Максимальна добова доза - 2 табл. (Що відповідає 80 мг).</span></p><p><span>- для дітей старше 12 років по 1 табл. на один прийом 1-4 рази на день або по 2 табл. на один прийом 1-2 рази на день. Максимальна добова доза - 4 табл. (Що відповідає 160 мг).</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- M1 (Dynamic Panel) -->
            <div id="u506" class="ax_default ax_default_hidden" data-label="M1" style="display:none; visibility: hidden">
                <div id="u506_state0" class="panel_state" data-label="State1" style="">
                    <div id="u506_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u507" class="ax_default">
                            <div id="u507_state0" class="panel_state" data-label="State1" style="">
                                <div id="u507_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u508" class="ax_default">
                            <div id="u508_state0" class="panel_state" data-label="State1" style="">
                                <div id="u508_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u509" class="ax_default label">
                                        <div id="u509_div" class=""></div>
                                        <div id="u509_text" class="text ">
                                            <p><span>Спрей дозований. відновлення і захист фізіологічних функцій слизової оболонки порожнини рота профілактика інфекцій порожнини рота, в тому числі грипу допоміжний засіб в комплексній терапії запальних процесів в порожнині рота усунення відчуття дискомфорту і сухості в роті</span></p><p><span>Активні компоненти: ізотонічний розчин очищеної морської води іони активного срібла екстракт шавлії екстракт календули ефірне масло евкаліпта ментол хлоргексидину біглюконат</span></p><p><span>СПОСІБ ЗАСТОСУВАННЯ: для відновлення функцій слизової оболонки порожнини рота - 4-6 разів на добу по 2 впорскування. Для профілактики інфекцій - 3-4 рази на добу по 1-2 впорскування. ОБСЯГ: 45 мл.</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- M0 (Dynamic Panel) -->
            <div id="u510" class="ax_default ax_default_hidden" data-label="M0" style="display:none; visibility: hidden">
                <div id="u510_state0" class="panel_state" data-label="State1" style="">
                    <div id="u510_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u511" class="ax_default">
                            <div id="u511_state0" class="panel_state" data-label="State1" style="">
                                <div id="u511_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u512" class="ax_default">
                            <div id="u512_state0" class="panel_state" data-label="State1" style="">
                                <div id="u512_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u513" class="ax_default label">
                                        <div id="u513_div" class=""></div>
                                        <div id="u513_text" class="text ">
                                            <p><span>Виберіть препарат для докладної інформації!</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- M3 (Dynamic Panel) -->
            <div id="u514" class="ax_default ax_default_hidden" data-label="M3" style="display:none; visibility: hidden">
                <div id="u514_state0" class="panel_state" data-label="State1" style="">
                    <div id="u514_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u515" class="ax_default">
                            <div id="u515_state0" class="panel_state" data-label="State1" style="">
                                <div id="u515_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u516" class="ax_default">
                            <div id="u516_state0" class="panel_state" data-label="State1" style="">
                                <div id="u516_state0_content" class="panel_state_content">

                                    <!-- tm3 (Rectangle) -->
                                    <div id="u517" class="ax_default label" data-label="tm3">
                                        <div id="u517_div" class=""></div>
                                        <div id="u517_text" class="text ">
                                            <p><span>Підсилює дію снодійних, анксіолітичних, анальгезирующих і седативних засобів. Препарат можна комбінувати з кардіотонічними і гіпотензивними засобами.</span></p><p><span>Не відмічено випадків негативного лікарського взаємодії при призначенні препарату на тлі терапії іншими ЛЗ, включеними в загальноприйняті схеми лікування захворювань серцево-судинної системи і шлунково-кишкового тракту.</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u518" class="ax_default label">
                <div id="u518_div" class=""></div>
                <div id="u518_text" class="text ">
                    <p><span>Назначені препарати</span></p>
                </div>
            </div>

            <!-- dan (Dynamic Panel) -->
            <div id="u519" class="ax_default ax_default_hidden" data-label="dan" style="display:none; visibility: hidden">
                <div id="u519_state0" class="panel_state" data-label="State1" style="">
                    <div id="u519_state0_content" class="panel_state_content">

                        <!-- Unnamed (Rectangle) -->
                        <div id="u520" class="ax_default label">
                            <div id="u520_div" class=""></div>
                            <div id="u520_text" class="text ">
                                <p><span>Ви не оплатили послугу лікаря, негайно оплатіть її!</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u521" class="ax_default label">
                            <div id="u521_div" class=""></div>
                            <div id="u521_text" class="text ">
                                <p><span>Бо через 7 днів ви будете видалені з бази!</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="~/Content/resources/scripts/axure/ios.js"></script>
</body>
</html>
