@{
    Layout = "~/Views/Shared/_Layout6.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Реєстрація</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/Content/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/data/styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/files/реєстрація/styles.css" type="text/css" rel="stylesheet" />
    <script src="~/Content/resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.js"></script>
    <script src="~/Content/resources/scripts/axure/globals.js"></script>
    <script src="~/Content/resources/scripts/axutils.js"></script>
    <script src="~/Content/resources/scripts/axure/annotation.js"></script>
    <script src="~/Content/resources/scripts/axure/axQuery.std.js"></script>
    <script src="~/Content/resources/scripts/axure/doc.js"></script>
    <script src="~/Content/resources/scripts/messagecenter.js"></script>
    <script src="~/Content/resources/scripts/axure/events.js"></script>
    <script src="~/Content/resources/scripts/axure/recording.js"></script>
    <script src="~/Content/resources/scripts/axure/action.js"></script>
    <script src="~/Content/resources/scripts/axure/expr.js"></script>
    <script src="~/Content/resources/scripts/axure/geometry.js"></script>
    <script src="~/Content/resources/scripts/axure/flyout.js"></script>
    <script src="~/Content/resources/scripts/axure/model.js"></script>
    <script src="~/Content/resources/scripts/axure/repeater.js"></script>
    <script src="~/Content/resources/scripts/axure/sto.js"></script>
    <script src="~/Content/resources/scripts/axure/utils.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/variables.js"></script>
    <script src="~/Content/resources/scripts/axure/drag.js"></script>
    <script src="~/Content/resources/scripts/axure/move.js"></script>
    <script src="~/Content/resources/scripts/axure/visibility.js"></script>
    <script src="~/Content/resources/scripts/axure/style.js"></script>
    <script src="~/Content/resources/scripts/axure/adaptive.js"></script>
    <script src="~/Content/resources/scripts/axure/tree.js"></script>
    <script src="~/Content/resources/scripts/axure/init.temp.js"></script>
    <script src="~/Content/resources/scripts/axure/legacy.js"></script>
    <script src="~/Content/resources/scripts/axure/viewer.js"></script>
    <script src="~/Content/resources/scripts/axure/math.js"></script>
    <script src="~/Content/resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="~/Content/data/document.js"></script>
    <script src="~/Content/files/реєстрація/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return '~/Content/resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return '~/Content/resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return '~/Content/resources/reload.html'; };
    </script>
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u34" class="ax_default box_1">
            <div id="u34_div" class=""></div>
            <div id="u34_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
        <form method="post" action="/Home/Register">
            <!-- name (Text Field) -->
            <div id="u35" class="ax_default text_field" data-label="name">
                <div id="u35_div" class=""></div>
                <input id="u35_input" type="text" name="N" class="u35_input" />
            </div>

            <!-- surname (Text Field) -->
            <div id="u36" class="ax_default text_field" data-label="surname">
                <div id="u36_div" class=""></div>
                <input id="u36_input" type="text" name="S" class="u36_input" />
            </div>

            <!-- patronymic (Text Field) -->
            <div id="u37" class="ax_default text_field" data-label="patronymic">
                <div id="u37_div" class=""></div>
                <input id="u37_input" type="text" name="P" class="u37_input" />
            </div>

            <!-- number_pasport (Text Field) -->
            <div id="u38" class="ax_default text_field" data-label="number_pasport">
                <div id="u38_div" class=""></div>
                <input id="u38_input" type="number" name="passport" class="u38_input" />
            </div>

            <!-- number_document (Text Field) -->
            <div id="u39" class="ax_default text_field" data-label="number_document">
                <div id="u39_div" class=""></div>
                <input id="u39_input" type="text" name="numDecl" class="u39_input" />
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u40" class="ax_default label">
                <div id="u40_div" class=""></div>
                <div id="u40_text" class="text ">
                    <p><span>Ім'я:</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u41" class="ax_default label">
                <div id="u41_div" class=""></div>
                <div id="u41_text" class="text ">
                    <p><span>Прізвище:</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u42" class="ax_default label">
                <div id="u42_div" class=""></div>
                <div id="u42_text" class="text ">
                    <p><span>По батькові:</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u43" class="ax_default label">
                <div id="u43_div" class=""></div>
                <div id="u43_text" class="text ">
                    <p><span>Номер паспорту:</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u44" class="ax_default label">
                <div id="u44_div" class=""></div>
                <div id="u44_text" class="text ">
                    <p><span>Дата народження:</span></p>
                </div>
            </div>

            <!-- Calendar Picker (Group) -->
            <div id="u45" class="ax_default" data-label="Calendar Picker" data-left="395" data-top="790" data-width="285" data-height="40">

                <!-- Date Input (Group) -->
                <div id="u46" class="ax_default" data-label="Date Input" data-left="395" data-top="790" data-width="285" data-height="40">

                    <!-- Date Field (Text Field) -->
                    <div id="u47" class="ax_default text_field" data-label="Date Field">
                        <div id="u47_div" class=""></div>
                        <input id="u47_input" type="text" name="birthDay" class="u47_input" />
                    </div>

                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u172" class="ax_default label">
                <div id="u172_div" class=""></div>
                <div id="u172_text" class="text ">
                    <p><span>Номер декларації:</span></p>
                </div>
            </div>


            <!-- Unnamed (Rectangle) -->
            <div id="u175" class="ax_default button">
                <div id="u175_div" class=""></div>
                <div id="u175_text" class="text ">
                    <p><input type="submit" value="Зареєструватися" /></p>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u176" class="ax_default" data-left="205" data-top="1010" data-width="125" data-height="45">

                <!-- Unnamed (Rectangle) -->
                <div id="u177" class="ax_default button">
                    <div id="u177_div" class=""></div>
                    <div id="u177_text" class="text ">
                        <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Html.ActionLink("Назад", "Index", "Home")</span></p>
                    </div>
                </div>

                <!-- Unnamed (Line) -->
                <div id="u178" class="ax_default arrow">
                    <img id="u178_img" class="img " src="~/Content/images/реєстрація/u178.svg" />
                    <div id="u178_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Ready (Dynamic Panel) -->
            <div id="u179" class="ax_default ax_default_hidden" data-label="Ready" style="display:none; visibility: hidden">
                <div id="u179_state0" class="panel_state" data-label="State1" style="">
                    <div id="u179_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u180" class="ax_default">
                            <div id="u180_state0" class="panel_state" data-label="State1" style="">
                                <div id="u180_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u181" class="ax_default">
                            <div id="u181_state0" class="panel_state" data-label="State1" style="">
                                <div id="u181_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u182" class="ax_default label">
                                        <div id="u182_div" class=""></div>
                                        <div id="u182_text" class="text ">
                                            <p><span>На вашу почтову скриньку</span></p><p><span>надійшло повідомлення з</span></p><p><span>кодом, який потрібний, щоб підтвердити вашу реєстрацію</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- mess (Rectangle) -->
                        <div id="u183" class="ax_default label" data-label="mess">
                            <div id="u183_div" class=""></div>
                            <div id="u183_text" class="text ">
                                <p><span>Введіть цей код</span></p>
                            </div>
                        </div>

                        <!-- Code (Text Field) -->
                        <div id="u184" class="ax_default text_field" data-label="Code">
                            <div id="u184_div" class=""></div>
                            <input id="u184_input" type="text" value="" class="u184_input" maxlength="4" />
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u185" class="ax_default button">
                            <div id="u185_div" class=""></div>
                            <div id="u185_text" class="text ">
                                <p><span>Відмінити</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u186" class="ax_default button">
                            <div id="u186_div" class=""></div>
                            <div id="u186_text" class="text ">
                                <p><span>Продовжити</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ready2 (Dynamic Panel) -->
            <div id="u187" class="ax_default ax_default_hidden" data-label="Ready2" style="display:none; visibility: hidden">
                <div id="u187_state0" class="panel_state" data-label="State1" style="">
                    <div id="u187_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u188" class="ax_default">
                            <div id="u188_state0" class="panel_state" data-label="State1" style="">
                                <div id="u188_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u189" class="ax_default">
                            <div id="u189_state0" class="panel_state" data-label="State1" style="">
                                <div id="u189_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u190" class="ax_default label">
                                        <div id="u190_div" class=""></div>
                                        <div id="u190_text" class="text ">
                                            <p><span>Реєстрація пройшла успішно!</span></p><p><span>Логін вашого акаунта:</span></p><p><span>pac00446201</span></p><p><span>Будь ласка, заповніть його, бо він потрібний, як і ваш пароль, щоб увійти до свого кабінету!</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u191" class="ax_default button">
                            <div id="u191_div" class=""></div>
                            <div id="u191_text" class="text ">
                                <p><span>Закінчити реєстрацію</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Message (Dynamic Panel) -->
            <div id="u192" class="ax_default ax_default_hidden" data-label="Message" style="display:none; visibility: hidden">
                <div id="u192_state0" class="panel_state" data-label="State1" style="">
                    <div id="u192_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u193" class="ax_default">
                            <div id="u193_state0" class="panel_state" data-label="State1" style="">
                                <div id="u193_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u194" class="ax_default">
                            <div id="u194_state0" class="panel_state" data-label="State1" style="">
                                <div id="u194_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u195" class="ax_default label">
                                        <div id="u195_div" class=""></div>
                                        <div id="u195_text" class="text ">
                                            <p><span>Заповніть всі поля, щоб продовжити реєстрацію!</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- email (Text Field) -->
            <div id="u196" class="ax_default text_field" data-label="email">
                <div id="u196_div" class=""></div>
                <input id="u196_input" type="email" name="mail" class="u196_input" />
            </div>

            <!-- password (Text Field) -->
            <div id="u197" class="ax_default text_field" data-label="password">
                <div id="u197_div" class=""></div>
                <input id="u197_input" type="password" name="pass1" class="u197_input" />
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u198" class="ax_default label">
                <div id="u198_div" class=""></div>
                <div id="u198_text" class="text ">
                    <p><span>Почтова скринька:</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u199" class="ax_default label">
                <div id="u199_div" class=""></div>
                <div id="u199_text" class="text ">
                    <p><span>Пароль:</span></p>
                </div>
            </div>

            <!-- password2 (Text Field) -->
            <div id="u200" class="ax_default text_field" data-label="password2">
                <div id="u200_div" class=""></div>
                <input id="u200_input" type="password" name="pass2" class="u200_input" />
            </div>
            </form>

            <!-- Unnamed (Rectangle) -->
            <div id="u201" class="ax_default label">
                <div id="u201_div" class=""></div>
                <div id="u201_text" class="text ">
                    <p><span>Підтвердження паролю:</span></p>
                </div>
            </div>

            <!-- Message2 (Dynamic Panel) -->
            <div id="u202" class="ax_default ax_default_hidden" data-label="Message2" style="display:none; visibility: hidden">
                <div id="u202_state0" class="panel_state" data-label="State1" style="">
                    <div id="u202_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u203" class="ax_default">
                            <div id="u203_state0" class="panel_state" data-label="State1" style="">
                                <div id="u203_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u204" class="ax_default">
                            <div id="u204_state0" class="panel_state" data-label="State1" style="">
                                <div id="u204_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u205" class="ax_default label">
                                        <div id="u205_div" class=""></div>
                                        <div id="u205_text" class="text ">
                                            <p><span>Будь ласка, введіть в обох полях однаковий пароль!</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Unnamed (Rectangle) -->
            <div id="u211" class="ax_default box_1">
                <div id="u211_div" class=""></div>
                <div id="u211_text" class="text ">
                    <p><span>Реєстрація</span></p>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u212" class="ax_default" data-left="30" data-top="95" data-width="255" data-height="40">

                <!-- Unnamed (Shape) -->
                <div id="u213" class="ax_default flow_shape">
                    <img id="u213_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                    <div id="u213_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u214" class="ax_default flow_shape">
                    <img id="u214_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                    <div id="u214_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u215" class="ax_default heading_1">
                    <div id="u215_div" class=""></div>
                    <div id="u215_text" class="text ">
                        <p><span>@Html.ActionLink("Головна сторінка", "Index", "Home")</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u216" class="ax_default" data-left="270" data-top="95" data-width="216" data-height="40">

                <!-- Unnamed (Shape) -->
                <div id="u217" class="ax_default flow_shape">
                    <img id="u217_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                    <div id="u217_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Shape) -->
                <div id="u218" class="ax_default flow_shape">
                    <img id="u218_img" class="img " src="~/Content/images/реєстрація/u213.svg" />
                    <div id="u218_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u219" class="ax_default heading_1">
                    <div id="u219_div" class=""></div>
                    <div id="u219_text" class="text ">
                        <p><span>Реєстрація</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Master 1) -->
            <!-- Unnamed (Dynamic Panel) -->
            <div id="u221" class="ax_default">
                <div id="u221_state0" class="panel_state" data-label="State1" style="">
                    <div id="u221_state0_content" class="panel_state_content">

                        <!-- Unnamed (Rectangle) -->
                        <div id="u222" class="ax_default heading_1">
                            <div id="u222_div" class=""></div>
                            <div id="u222_text" class="text ">
                                <p><span>©2020 Всі права захищені!</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u223" class="ax_default heading_1">
                            <div id="u223_div" class=""></div>
                            <div id="u223_text" class="text ">
                                <p><span>Контакти</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u224" class="ax_default heading_1">
                            <div id="u224_div" class=""></div>
                            <div id="u224_text" class="text ">
                                <p><span>Мобільний телефон: 095 000 61 83</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u225" class="ax_default heading_1">
                            <div id="u225_div" class=""></div>
                            <div id="u225_text" class="text ">
                                <p><span>Електронна почта: likar.servis@gmail.com</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u226" class="ax_default icon">
                            <img id="u226_img" class="img " src="~/Content/images/вхід/u31.svg" />
                            <div id="u226_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u227" class="ax_default icon">
                            <img id="u227_img" class="img " src="~/Content/images/вхід/u32.svg" />
                            <div id="u227_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Unnamed (Rectangle) -->
            <div id="u229" class="ax_default box_1">
                <div id="u229_div" class=""></div>
                <div id="u229_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u230" class="ax_default label">
                <div id="u230_div" class=""></div>
                <div id="u230_text" class="text ">
                    <p><span>Новини</span></p>
                </div>
            </div>

            <form method="post" action="/Home/Open">
                <!-- login (Text Field) -->
                <div id="u10" class="ax_default text_field" data-label="login">
                    <div id="u10_div" class=""></div>
                    <input id="u10_input" type="text" name="Log" class="u10_input" />
                </div>

                <!-- password (Text Field) -->
                <div id="u11" class="ax_default text_field" data-label="password">
                    <div id="u11_div" class=""></div>
                    <input id="u11_input" type="password" name="Pass" class="u11_input" />
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u14" class="ax_default button">
                    <div id="u14_text" class="text ">
                        <p><input type="submit" value="Увійти" /></p>
                    </div>
                </div>
            </form>

            <!-- Unnamed (Rectangle) -->
            <div id="u233" class="ax_default label">
                <div id="u233_div" class=""></div>
                <div id="u233_text" class="text ">
                    <p><span>Логін:</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u234" class="ax_default label">
                <div id="u234_div" class=""></div>
                <div id="u234_text" class="text ">
                    <p><span>Пароль:</span></p>
                </div>
            </div>


            <!-- Unnamed (Rectangle) -->
            <div id="u236" class="ax_default link_button">
                <div id="u236_div" class=""></div>
                <div id="u236_text" class="text ">
                    <p><span>@Html.ActionLink("Зареєструватися", "Regist", "Home")</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u237" class="ax_default label">
                <div id="u237_div" class=""></div>
                <div id="u237_text" class="text ">
                    <p><span>Вхід</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u238" class="ax_default label">
                <div id="u238_div" class=""></div>
                <div id="u238_text" class="text ">
                    <p style="font-size:26px;text-align:center;"><span>02.05.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна<p style="font-size:24px;text-align:left;">деяких функцій на </p><p style="font-size:24px;text-align:left;">сторінці пацієнта.</p></span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u239" class="ax_default label">
                <div id="u239_div" class=""></div>
                <div id="u239_text" class="text ">
                    <p style="font-size:26px;text-align:center;"><span>14.04.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна<p style="font-size:24px;text-align:left;">деяких функцій на </p><p style="font-size:24px;text-align:left;">сторінці пацієнта.</p></span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u240" class="ax_default label">
                <div id="u240_div" class=""></div>
                <div id="u240_text" class="text ">
                    <p style="font-size:26px;text-align:center;"><span>29.03.2020</span></p><p style="font-size:24px;text-align:left;"><span>Будьте уважні!</span></p><p style="font-size:24px;text-align:left;"><span>Була здійснена зміна<p style="font-size:24px;text-align:left;">деяких функцій на </p><p style="font-size:24px;text-align:left;">сторінці пацієнта.</p></span></p>
                </div>
            </div>

            <!-- Message (Dynamic Panel) -->
            <div id="u241" class="ax_default ax_default_hidden" data-label="Message" style="display:none; visibility: hidden">
                <div id="u241_state0" class="panel_state" data-label="State1" style="">
                    <div id="u241_state0_content" class="panel_state_content">

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u242" class="ax_default">
                            <div id="u242_state0" class="panel_state" data-label="State1" style="">
                                <div id="u242_state0_content" class="panel_state_content">
                                </div>
                            </div>
                        </div>

                        <!-- Unnamed (Dynamic Panel) -->
                        <div id="u243" class="ax_default">
                            <div id="u243_state0" class="panel_state" data-label="State1" style="">
                                <div id="u243_state0_content" class="panel_state_content">

                                    <!-- Unnamed (Rectangle) -->
                                    <div id="u244" class="ax_default label">
                                        <div id="u244_div" class=""></div>
                                        <div id="u244_text" class="text ">
                                            <p><span>Будь ласка, введіть правильний</span></p><p><span>логін і/або пароль!</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
    <script src="~/Content/resources/scripts/axure/ios.js"></script>
</body>
</html>

